[2020-09-10 11:08] Vovanella95 opened #8 "root["components"]["responses"] are not implemented"
To implement pre-defined responses can be used in OpenApi 3.0.0+ versions

[2020-09-24 12:49] szotp opened #58 "Issues found after trying to generate big swagger file"
Hi, I like the idea of dart only code generator, but unfortunately, I found a lot of issues while trying to generate code for my API:

1. additionalProperties key from schema is not handled, I'm getting `final null foo;` variables. At least it should use `final null foo;`.
2. Responses that return bool don't work, it will generate `Future<Response<Bool>>`. It seems that only `num` primitive is han

[2020-09-24 15:51] fryette commented on #58
Could you please share swagger.json?
Also can send it to the ysampir@gmail.com

[2020-09-25 08:23] Vovanella95 commented on #58
Hi @szotp,

About point 2.

To have Future<bool> at response, you need to have "boolean" return type in response. I guess you have "bool" now. But according spec there is no "bool" base type https://swagger.io/specification/. There is only "boolean".

Please correct me if I wrong.

[2020-09-25 08:25] szotp commented on #58
Hi, thanks for feedback, I will prepare minimal swagger spec to illustrate the problems.

[2020-09-26 21:44] fryette commented on #58
@szotp any progress?

[2020-09-28 05:51] szotp commented on #58
Sorry I had some work to do during the weekend, I'll do it this week.

[2020-09-29 12:10] Vovanella95 commented on #58
@szotp Hey,

Points 3, 4 and 6  are already fixed!

[2020-09-30 18:46] szotp commented on #58
Here is the json, some issues still remain. Good luck!

[code]

[2020-10-12 09:19] Vovanella95 commented on #58
Hi @szotp , We fixed all issues in 1.2.0 version. Refactoring issue is moved to separate one. In future we're going to implement native requests (not using chopper), but not right now :)

[2020-10-12 09:19] #58 closed

[2020-10-12 09:20] Vovanella95 opened #68 "A lot of code duplicated"
To refactor and integrate v2 and v3 versions

[2020-10-13 14:01] #68 closed

[2020-10-13 14:01] Vovanella95 commented on #68
Refactored

[2020-10-13 21:43] 5arif opened #72 "any support for swagger 3.0.1 ?"
i get some error with swagger 3 `"openapi": "3.0.1"`,
and i need to manualy add  `build_runner` to `dev_dependencies:`

is that posible to use swagger url like : `https://localhost:44373/swagger/v1/swagger.json`

[code]

[2020-10-14 07:33] fryette commented on #72
@5arif Could you please share your swagger file to reproduce an issue?

You can send it to ysampir@gmail.com or share it here.

Actually, the library should support swagger 3.0.1

[2020-10-14 07:38] Vovanella95 commented on #72
Hi @5arif ,

Currently it's not possible to load swaggers from url manually. We're going to add this feature soon. We're going to add property to build.yaml like
swagger_urls
 - url : 'https://localhost:44373/swagger/v1/swagger.json'
 - url: 'some another url'

Is it what you mean?

[2020-10-22 14:18] Vovanella95 opened #87 "to add support of "default" field when generation values"

[2020-10-30 08:31] Vovanella95 commented on #8
Implemented in 1.4.1

[2020-10-30 08:31] #8 closed

[2020-11-27 08:15] FischerDaniel opened #93 "Set ChopperClient interceptors"
I want to set a HeaderInterceptor like this one on the ChopperClient:

[code]

Is it possible to set interceptors after the client is generated or can I set which interceptors the client should be generated with?

In order to access my api right now I change the abstact class of the client after generation like below so I can pass an access token to the HeaderInterceptor. I would of course like th

[2020-11-27 08:20] fryette commented on #93
Hey!
Glad to see you here!

You can create a client on your side and then pass the ready client to the generated class(ExampleSwagger).

You probably see, that in generated class we have
[code]

[2020-11-27 09:35] FischerDaniel commented on #93
Thank you, this is exactly what I needed

[2020-11-27 09:35] #93 closed

[2020-11-28 18:21] andriivachasov opened #97 "Generated *.swagger.dart files contain redundant chopper dependencies"
When building with **build_only_models false** it would be nice to generate models without chopper dependencies for projects which already use http client other than Chopper. It also makes json_serializable confused with analyser issues and prevents json_serializable code generation.

The workaround is to add chopper to dependencies.

[2020-11-30 07:44] #97 closed

[2020-12-01 11:01] RomainFranceschini opened #98 "Generate copy/copyWith methods"
Hi,

I was wondering what would be the best way to define copy/copyWith methods on the models generated from swagger.

Ideally, they would be generated but it may be out of scope of this library. Maybe you have some pointers on how to use something like [copy_with_extension](https://pub.dev/packages/copy_with_extension) together with swagger-dart-code-generator.

Thanks for the amazing work!

[2020-12-04 04:45] fryette commented on #98
I think we can add it.
Actually good idea

[2020-12-08 18:55] fphilip opened #99 "problems with "-" on definitions"
Hi
My old swagger file has a
`#/definitions/account-address"`

when the generete build runs, the enums dart fils seem ok
_***.enums.swagger.dart**_
`enum AccountAddressType {`

But, the following file seems to just 'capitalize' the definition name, however in the phase of processing the enums that process seems to generate the names correctly ...
_***.swagger.dart**_
`String accountAddressTypeToJs

[2020-12-09 08:12] Vovanella95 commented on #99
Hi, we will check it today and fix it ASAP

[2020-12-09 13:38] #99 closed

[2020-12-09 15:06] #98 closed

[2020-12-09 15:12] Vovanella95 commented on #99
@fphilip Issue is fixed. Please check latest version and let us know if something works bad! Thanks for highlighting issue!

[2020-12-09 15:13] Vovanella95 commented on #98
@RomainFranceschini Please check this feature in latest version 1.4.6. We did not used external lib and implemented copyWith manually to not have external dependencies.

[2020-12-09 15:53] RomainFranceschini commented on #98
@Vovanella95 fantastic ! Already bumped the version and it works like a charm. Thank you for the responsiveness.

[2020-12-12 07:27] fphilip commented on #99
thanks.. works great!!!

[2020-12-12 07:30] fphilip opened #102 "problems with dash in file name"
Hi, me again

When the swagger file has a dash, the class name generator does not remove it, like underscore

great jobs!!

[2020-12-15 06:56] fryette commented on #102
Will check this week, thx!

[2020-12-15 10:11] #102 closed

[2020-12-15 11:34] Vovanella95 commented on #102
@fphilip It's done! Please let us know in case of any issues!

[2020-12-27 10:49] Vovanella95 opened #108 "Wrong generation when definigion is an array of objects"
Wrong generation when definigion is an array of objects

[2021-01-13 18:23] SDP190 opened #109 "Issue with property which has nullable:true and allOf: ref"
Hi I am getting an error when running generator for this json spec:
(partial)
[code]
Error Output:
[code]

[2021-01-13 18:23] SDP190 opened #110 "error when running generator"
Hi I am getting an error when running generator for this json spec:
(partial)
[code]
Error Output:
[code]
As seen in the output the generator somehow converts **"RouteViewModel"=>"firstStop"** to type **Null**. and then it throws error that it cant handle such a type.
This api spec file was generated from an AspNetCore API project via a swagger plugin package. The spec version is swagger 2.0

Thin

[2021-01-14 18:48] #109 closed

[2021-01-15 07:04] VoLaNg commented on #110
`allOf`, `anyOf` etc., currently is not supported. I'm working on major PR to fix this issue but do not have ETA.

[2021-01-15 11:45] Vovanella95 commented on #72
Closed due no answer from customer

[2021-01-19 21:00] fphilip opened #112 "recomendations for a ChopperClient customization"
Hello
What is the recommended way to solve the problem with the private visibility of the class generated by Chopper? may be creating an ExampleClient in the same package with parameters and interceptors?

thanks !!

`
Future main() async {

  final chopperClient = ChopperClient(
      services: [_$Example()],   **//private!!!!!!**
      converter: JsonSerializableConverter(),
      interceptors:

[2021-01-20 15:37] Vovanella95 commented on #112
Hi @fphilip , We will check it and implement ASAP

[2021-01-21 09:41] Vovanella95 commented on #112
Hi, @fphilip, maybe I've understand question bad, but what is problem to use next way?

...
services: [Example.create()],
...

[2021-01-21 10:10] fphilip commented on #112
It works.. no problem, the question was about the best option.. thank's greats job
PS: the use_required_attribute_for_headers=false, is working?

[2021-01-21 10:10] #112 closed

[2021-01-21 11:02] Vovanella95 commented on #112
@fphilip It should work. Please let us know if no :)

At our current project we create services, no clients.

IoC.registerSingleton<ExampleService>(ExampleService(_createChopperClient()));

_createChopperCLient method sets all interceptors and chopper client modifications

[2021-01-24 14:48] fryette opened #113 "Export generated classes together with client"
We should export generated classes together with client

[2021-01-25 13:58] #113 closed

[2021-01-28 11:05] Pavel-Sulimau opened #115 "Change the default way how 'date' is serialised or add an ability to override the behavior"
Hello devs, firstly, I'd like to say thank you for such a cool package, good job!

I've come to you with the following suggestion for improvement: **could you please change the default behavior for how  'date' types are serialized or add a possibility to override that behavior?**

Let me give you a bit more context of what I'm talking about…
Here is the screenshot from [the swagger specification](

[2021-01-28 13:16] Vovanella95 opened #116 "Byte responses support"
Uint8List

[2021-02-02 14:29] Vovanella95 opened #117 "Custom fromJson toJson methods for models"
Custom fromJson toJson methods for models

[2021-02-04 15:35] fryette opened #123 "default value for bools not supported"

[2021-02-05 18:41] WahdanZ commented on #110
also not working with oneOf

[2021-02-09 08:31] Vovanella95 commented on #123
Fixed in 1.6.5+ version

[2021-02-09 08:31] #123 closed

[2021-02-10 16:11] Vovanella95 commented on #115
Fixed in 1.6.6+2 version. I'm closing this issue.

[2021-02-10 16:11] #115 closed

[2021-02-12 02:17] goncalvesjoao opened #133 "Array is being submitted as a string with a json inside"
Guys, I'm having a weird behaviour when I declare that I accept a field 'images' in the parameters of type array of strings.
[code]

The generated code, understands that is accepting an array (List) but then when it submits the POST request to the server, it sends not an array of strings but a string with and array inside.

Am I doing something wrong?

[2021-02-23 15:26] Nehoko opened #136 "Adding headers to request"
Api that I'm using requires JSESSIONID in request's header. I Can't find any info about that at your documentation. How can I add header at requests?

[2021-02-23 15:38] Nehoko opened #137 "Handshake error"
Everytime I try to do request to swagger-api it response with an error:
[code]

my flutter doctor:
[code]
P. S. I don't know why it saying that I don't have Android Studio. I'm working in it

[2021-02-25 07:30] fryette commented on #136
2 Options
1. By default all headers should be generated if it available in swagger(please share if can)
2. Use [interceptors](https://github.com/lejard-h/chopper/blob/master/interceptors.md) and add headeres here

[2021-02-25 07:31] fryette commented on #136
Feel free to open if needed

[2021-02-25 07:31] #136 closed

[2021-02-25 07:33] fryette commented on #137
Hm...really don't know how I can help here.

Probably you need to reinstall AS or ask a question in the official flutter repo.

But is this error related to the library? Do you have the same if you do regular request without lib?

[2021-02-25 07:38] fryette commented on #133
Hi @goncalvesjoao, as a workaround you can use chopper directly(or write just that request by yourself).
We will take a look into it and will try to fix this/next week.

Sorry for the delay.

Thanks,
Yauhen Sampir

[2021-02-25 07:41] fryette opened #138 "Support allof"
We should be able to support `allof` property.
Just generate a model with additional fields

[2021-02-25 09:48] Nehoko commented on #137
The main problem was at `HandshakeException` (requested with https while rest-api receiving only http). Resolved that exception by chopper interceptor (setted baseUrl with http).

[2021-02-25 09:48] #137 closed

[2021-02-25 09:52] Nehoko commented on #136
My problem was with authorization. Rest-api that I'm using requires cookie with JSESSIONID. Without it api responses with 401 status code.

Can you add to the documentation information about authorization and how can you add cookie/headers/etc to requests?

[2021-02-25 10:00] fryette commented on #136
@Nehoko will do

[2021-02-28 02:01] WahdanZ opened #139 "add integration with retrofit"
will be nice if we integrate with https://pub.dev/packages/retrofit

[2021-03-01 09:06] fryette commented on #139
Retrofit used DIO, we decided to go with a chopper that is analog of DIO with the same functionality.
If you have any troubles with the chopper feel free to highlight it.

[2021-03-01 09:07] #139 closed

[2021-03-11 08:40] Andrushka1012 opened #141 "Support for null safety models"
Please, create Null safety library version

[2021-03-11 09:24] fryette commented on #141
You can track progress here

#140

[2021-03-14 20:44] PKIE commented on #108
Same issue here. Tried with 1.6.8
Sample openapi schema
[openapi.txt](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/files/6137520/openapi.txt)
Arra type definition is:
[code]

As a result the CustomItem is fine, but ListCustomItem generated code is empty:
[code]

[2021-03-15 07:06] fryette commented on #108
As a temporary solution please use https://github.com/epam-cross-platform-lab/swagger-dart-code-generator#response-override-value-map-for-requests-generation

[2021-03-15 13:14] sakthivel-sm opened #142 "Issue with generation in Response<Bool> while code generation"
Thanks for this very useful library. Appreciate the hard work.

As described in https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/58 - we still face the issue where the return type is generated as
` Future<Response<Bool>> ` instead of ` Future<Response<bool>> ` causing compile time errors.

Having gone through the changes in https://github.com/epam-cross-platform-lab/sw

[2021-03-16 19:59] PKIE commented on #108
Thank you @fryette
Do you know if there is a way to override types for array type properties?

[2021-03-16 20:16] PKIE commented on #108
OK, I managed to change the schema generator (probably it was buggy, and now instead creating new ListCustomItem definition it simply defines the response (or internal array) as array of type

So thanks for help, and sorry for bugging ;)

[2021-03-16 21:18] PKIE opened #143 "Support for OpenAPI 3.0 servers definition"
OpenAPI 3.0 uses servers array instead of host, basePath and schemes.
Are there plans to support it?

https://swagger.io/docs/specification/api-host-and-base-path/

[2021-03-17 11:37] fryette commented on #143
Hm...actually good idea.
We are not using it for now on our projects, but let's keep progress in the current issue.
Now everything you can set up with your own ChopperClient(base url and etc).

Agree that it should be supported.
Also contribution very appreciated

[2021-03-17 11:41] fryette commented on #142
is it possible to share the swagger file to reproduce the issue?

[2021-03-17 13:59] sakthivel-sm commented on #142
Hey @fryette, Here's the link `https://devweb.optotax.com/optomoney/v3/api-docs`.

[2021-03-22 05:27] fphilip opened #144 "Example App load image doesn't work"
Inserting this code un main.dart the status code returned is 415

`
  print(
      'Hello, my name is ${getResult.body.name}, I am ${getResult.body.category.name}');

  print('updating my image');
  final bytes = await HttpClient()
      .getUrl(Uri.parse(
          'https://i.pinimg.com/originals/de/71/bb/de71bb8a57ff473cc58ebc6af58c4858.jpg'))
      .then((value) => value.close())
      .then((v

[2021-03-22 05:51] fphilip commented on #144
Hi
changing this part returns 200
`
  @override
  Future<Response<ApiResponse>> uploadFile(
      {int petId, String additionalMetadata, List<int> file, Object body}) {
    final $url = '/pet/$petId/uploadImage';
    final $parts = <PartValue>[PartValueFile<List<int>>('file', file)];
    final $request = Request('POST', $url, client.baseUrl,  multipart: true, parts: $parts);
    return client.send

[2021-03-22 07:24] Vovanella95 commented on #144
Hi @fphilip ! We will take a look into it soon. Currently we focused on chopper null safety migration contribution. Then I've check all issues in swagger generator and fix it. Thanks for using our lib!

[2021-03-23 12:18] fryette opened #145 "Support requestBodies in swagger"

[2021-03-26 09:39] #145 closed

[2021-03-26 18:52] SosthenG opened #147 "Error during response conversion: value of type "_JsonMap""
Hi,
I'm trying to make this work with my Flutter web project but I always have the same error: the response does not seem to be converted to the targeted object type.

I'm expecting a result of type "AccessToken" for which the generated class is the following:
[code]

I'm calling this generated method (.swagger.chopper.dart) which looks fine to me too:
[code]

I took a look at the raw response bod

[2021-03-27 07:34] fryette commented on #147
Is it possible to share the swagger file?

[2021-03-27 11:45] SosthenG commented on #147
Sure:
[code]

[2021-03-29 08:02] Vovanella95 commented on #147
Hi @SosthenG ,

I will check it today

[2021-03-29 08:29] Vovanella95 commented on #147
Hi again! I've checked your case. I don't have API so I added next line to json_map.swagger.chopper.dart:

[code]
It's line 296.

I've made request and received my fake response

[code]

In my case tt is correct value. So possible swagger is not correct.

https://sun9-73.userapi.com/impf/qvvBmZz3lROgggmHESTDzDCHAdrxB5XcdcVvhw/t47Ieo2nKEs.jpg?size=569x305&quality=96&sign=83294ee6c062461a77420d5f7be

[2021-03-29 09:00] SosthenG commented on #147
Hi, thanks for testing!
I joined my response body to my initial message, here is an example of what I'm receiving (this is a dump from the response body as received by the http client):
[code]

May be flutter for web not supported or something?
I'm using Flutter 2.0.3 (stable) with Dart 2.12.2 if that matters.

Doing the same test you did, I never go in the `final tt = value;` breakpoint, the exce

[2021-03-29 13:51] Vovanella95 commented on #147
@SosthenG  I've used your code and catched same issue. Let me check what happened.

[2021-03-29 14:09] Vovanella95 commented on #147
@SosthenG  Bingo! I have understand your problem! Please add with_converter: true parameter to use generated mapping.

Not correct:
[code]

Correct:
final newClient = ChopperClient(
        services: [_$Iwi()],
        converter: JsonSerializableConverter(),
        baseUrl: 'https://google.com');
    return _$Iwi(newClient);

Please close the issue if it helps!

[2021-03-29 16:12] SosthenG commented on #147
From what I understood, `true` is the default value for `with_converter` and I did not changed it.
Passing `with_converter: true` explicitly does not solve the issue: the converter is still set to `chopper.JsonConverter()`.

However, I had set `with_base_url: false` and removing it from my conf does make it work as expected, so I'm guessing this base_url param is doing something it shouldn't do.
I

[2021-03-30 07:25] Vovanella95 commented on #147
You're right, converter generation depends from with_base_url. It looks little bit not logical. We will recheck it. Can we close this issue?

[2021-03-30 07:27] SosthenG commented on #147
Sure, thanks for your help!

[2021-03-30 07:32] Vovanella95 commented on #147
Thank YOU for raising issue. Let's make swagger generator great!

[2021-03-30 07:32] #147 closed

[2021-03-31 13:29] fryette opened #148 "If default value provided field should not be nullable"

[2021-04-11 06:47] zhukeev opened #152 "Generating name as Object"
if backend responds like this
{
  "count": 0,
  "next": "string",
  "previous": "string",
  "results": [
    {
      "id": 0,
      "user": 0,
      "type": 0,
      "value": "string",
      "created_date": "2021-04-11T06:43:57.900Z",
      "updated_date": "2021-04-11T06:43:57.900Z"
    }
  ]

it generates results as Object, how to workaround ?

[2021-04-11 11:02] fryette commented on #152
Could you please provide a swagger file?

[2021-04-11 12:41] zhukeev commented on #152
Here's my a .swagger file, you can try to generate https://drive.google.com/file/d/17Pw5gm4dbwzSSJkt7_Hqc8bFpugpyS4J/view?usp=sharing

[2021-04-12 05:12] syq7970 commented on #142
I havan same issue. Swagger json file generic type with '«»' will break generation with Illegal character error message.

[2021-04-12 09:04] fryette commented on #142
Now we are mostly working on the null-safety version.

We will take a look at it this week.

@syq7970 Swagger has standards and if it breaks standards we really don't want to support it because it is impossible to handle all issues.

As a workaround, you can write a script that will remove all illegal characters from your swagger files and then run generation.

[2021-04-12 09:13] syq7970 commented on #142
@fryette
Thx for reply.
I'm trying fix illegal characters with script, but it seems like the generation process is not completed, because illegal characters break the process, so even replace all  '«»' to '<>', It still have lot of errors.
Maybe it is dart not support 'illegal characters', I use Swift code generation  with the same Api json file, and it worked like a charm.

[2021-04-12 13:08] fryette commented on #142
@syq7970 is it possible to create the separate issue and share swagger?

[2021-04-22 07:41] Vovanella95 commented on #152
Hi @zhukeev ! We will check your issue asap! I hope this week

[2021-04-25 09:46] Vovanella95 commented on #152
Hi @zhukeev ! it's really interesting case we have not implemented yet.

You using direct model injection into response. We will implement it soonm but as workaroung you can just put this model to definitions.

`"responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TrailersList"
            }
          }
        },`

`"Trailer

[2021-04-25 09:56] zhukeev commented on #152
hey @Vovanella95 thank you! Now I'm workarounding like this `
class Result<T> {
  Result({
    this.count,
    this.next,
    this.previous,
    this.results,
  });

  int? count;
  String? next;
  String? previous;
  List<T>? results;

  static Result<T> fromJson<T>(Map<String, dynamic> json) => Result<T>(
        count: json['count'],
        next: json['next'],
        previous: json['previous'

[2021-04-25 10:53] Vovanella95 commented on #152
Hi again, @zhukeev

https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/pull/161 :-)

I will check if everything is correct with my set of swaggers tomorrow and release new version.

Currently you can just use branch name in pubspec.yaml

And you don't need any work arounds :)

Please let me know if anything is not OK

[2021-04-25 13:27] zhukeev commented on #152
@Vovanella95  Wow, sounds great !

[2021-04-26 15:26] #152 closed

[2021-04-29 02:41] zhukeev commented on #152
it says `Exception has occurred.
Could not find factory for type DealDealGet$Response. Is 'DealDealGet$Response: DealDealGet$Response.fromJsonFactory' included in the CustomJsonDecoder instance creation in bootstrapper.dart?`

https://imgur.com/a/FMFxHgs

[2021-04-29 13:59] Vovanella95 opened #163 "To generate objects from injected objects"
Objects injected to objects without ref are generated as Object

[2021-04-29 15:37] Vovanella95 commented on #152
@zhukeev I've fixed this issue in master

Please confirm you using latest version from pub.dev

[2021-05-03 14:54] Andrushka1012 opened #164 "Add possibility to set suffix for generated swagger models"
it would be great to have possibility set generated model name suffix. So if swagger model is User it would be possible to have generated model named UserDto.

[2021-05-05 19:49] maxzod opened #165 "cant generate files"
when i runs `pub run build_runner build` i end up with this message
[code]

[2021-05-06 07:07] Vovanella95 commented on #164
Hi @Andrushka1012 , It's good idea we will look into it. Currently we working on refactoring of whole package. After it we will fix all open issues. I hope finish refactoring in few weeks.

[2021-05-06 07:08] Vovanella95 commented on #165
Hi @maxzod ,

Can you please share your swagger file if it's not confedential? I can look into this issue

[2021-05-09 03:35] maxzod commented on #165
sorry can't do that

[2021-05-09 03:35] #165 closed

[2021-05-20 15:05] mzdm opened #167 "Unsupported generated import in client_mapping.dart"
Swagger/Json file example: https://cloud.ibm.com/apidocs/visual-recognition/visual-recognition-v3.json
-> this has name `visual-recognition-visual-recognition-v3.swagger`

When running the generator, `client_mapping.dart` generates import:
[code]
Target of URI doesn't exist: 'visual-recognition-visual-recognition-v3.swagger.dart'.

However in other files the imports generates fine, `-` are replace

[2021-05-20 15:17] mzdm opened #168 "Incorrect generated param name"
Swagger/Json file example: https://cloud.ibm.com/apidocs/visual-recognition/visual-recognition-v3.json

This has parameter `AcceptLanguage` which has a name with a dash `Accept-Language`
[code]
This generates:
![image](https://user-images.githubusercontent.com/67197047/119004661-0a590480-b98f-11eb-8108-737375260e5c.png)

instead of `enums.$V3ClassifyPostAcceptLanguageMap[Accept - Language]` it sho

[2021-05-24 07:34] Vovanella95 commented on #168
Hi @mzdm ! Looks like it's easy fix. We will fix it ASAP. (possible today)

[2021-05-24 13:33] Vovanella95 commented on #168
Please check 2.0.0-nullsafety.8

[2021-05-24 13:33] Vovanella95 commented on #167
Please check 2.0.0-nullsafety.8

[2021-05-24 13:34] Vovanella95 commented on #168
@mzdm  Also thanks for examples of swagger files. It's really helpful.

[2021-05-24 17:21] mzdm commented on #168
Thanks for the fast fix! 💙 I'll try later tomorrow.

[2021-05-26 14:24] mzdm commented on #167
Thanks, fixed with `2.0.0-nullsafety.8`!

[2021-05-26 14:24] #167 closed

[2021-05-26 14:25] mzdm commented on #168
Can confirm it was fixed with `2.0.0-nullsafety.8`, thanks!

[2021-05-26 14:25] #168 closed

[2021-05-27 19:04] xinoip opened #169 "You have hit a bug in build_runner"
## Description

When running build_runner, it shows an error and nothing gets generated.

[code]

Here is the swagger file:

[code]

Here are my dependencies

[code]

I am on flutter 2.2 + nullsafety.

[2021-05-28 07:46] Vovanella95 commented on #169
Hi @xinoip ,

I will check it today.

[2021-05-28 07:55] Vovanella95 commented on #164
Hi @Andrushka1012

I'm going to implement it during week. We're not forgot about you :)

[2021-05-28 19:10] Vovanella95 commented on #164
@Andrushka1012 I've implemented this. But not releases yet.

You can use remote branch right now or vain for a new version.
https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/pull/166

[2021-05-28 22:22] xinoip commented on #169
Thanks for helping me @Vovanella95.

I missed the `inputFolder/outputFolder` being required part in the docs,  sorry about that.

After adding `build.yaml` with `inputFolder` and `outputFolder`, now I get a different error related to nullsafety.

[code]

Also, I noticed that package got an update to `2.1.0` version. I used that version and encountered a dependency-clash error with flutter-test pac

[2021-05-29 07:30] Vovanella95 commented on #169
Hi @xinoip

can you share pubspec file with dependencies? Looks like you're use not null safe packages

[2021-05-29 07:31] Vovanella95 commented on #164
Fixed. Please check 2.0.1 version :) @Andrushka1012

[2021-05-29 11:37] xinoip commented on #169
Here it is @Vovanella95

[code]

[2021-05-29 12:04] Vovanella95 commented on #169
@xinoip

I will check it little bit later. Something really wrong with this meta dependency. I hare dependencies resolving :D

[2021-06-01 14:01] Vovanella95 commented on #169
@xinoip

Looks like meta needs higher version of flutter sdk. I will revert it to 1.3.0 in next version.

It coming soon.

[2021-06-01 14:45] #169 closed

[2021-06-01 15:01] Vovanella95 commented on #164
merged in master!

[2021-06-01 15:01] #164 closed

[2021-06-03 14:23] guymclean opened #174 "Generated models aren't testable as they are not equatable"
I'm having unit testing issues as when I stub the response from the API that has been generated, I cannot compare expected and actual responses as the generated models don't extend something like Equatable. I think this should probably be done by default, similar to how the copyWith method is generated with the models.

[2021-06-04 07:34] Vovanella95 commented on #174
Hi @guymclean ,

Need to check options. Possible we can use @freezed package to fix it. Possible we can generate compareTo by our own.

I will try to implement it in 3 days and let you know.

Thanks for this good idea!

[2021-06-04 07:59] guymclean commented on #174
Yes freeezed may be a good idea. Thanks a lot! I really enjoy using the package :)

[2021-06-04 08:05] Vovanella95 commented on #174
@guymclean  freezed brings us a new dependency. I need think about it

[2021-06-06 14:02] Vovanella95 commented on #174
Hi @guymclean , Enjoy 2.0.4 version in pub.dev!

Note: You need to add collections library. Possible we will rid of it in future. Anyway collections is must have library in each project :D

[2021-06-06 14:46] mzdm commented on #174
This is a purely theoretical question ... but I wonder, do you think that is it possible to generate tests as well (if it would be implemented in the generator of course). Because if you're generating a very big amount of APIs (for example Google APIs or etc.) which can have 10, 50, or even 100 APIs, manual testing would be a nightmare.

I would like to contribute such a feature, I don't have much

[2021-06-06 15:51] Vovanella95 commented on #174
hi @mzdm ,

It's good idea to generate tests. We will look into it. Please create new issue to watch it changes.

Thanks for using our generator :)

[2021-06-06 16:02] mzdm opened #177 "Generate tested code"
This is a purely theoretical question ... but I wonder, do you think that is it possible to generate tests as well (if it would be implemented in the generator of course). Because if you're generating a very big amount of APIs (for example Google APIs or etc.) which can have 10, 50, or even 100 APIs, manual testing would be a nightmare.

I would like to contribute such a feature, I don't have much

[2021-06-08 15:03] #174 closed

[2021-06-08 21:34] FantasyOR opened #180 "Generate not all API methods"
Hi!
Our team make light mobile version of big service.
We find your lib, this is great.
Full API have over 100 methods and 300 classes. But its overhead for light service.
We need only 10% method/classes.

I want to suggest new feature:
Add in **build.yaml** file option of generate not all API methods and classes.

[2021-06-16 08:13] FantasyOR opened #181 "Create req/resp classes only generated API methods"
Hi.
Thank you for update of my issues "Generate not all API methods". It's work good.
But classes are create for all method, not just generated ones.
Please update to generated only needed req/resp classes.

Thank you very much for your job.

[2021-06-18 14:39] Vovanella95 commented on #181
Hi,
I will look into it.

[2021-06-18 15:09] fryette commented on #181
Hey.

I would like to suggest asking question ONLY via Github.

We are not going to add such feature, what I can recommend is removing unneeded swagger parts via script and then generate it.

If you want to introduce custom behavior feel free to fork project.

[2021-06-21 07:26] FantasyOR commented on #181
Okay.

[2021-06-21 07:27] #181 closed

[2021-06-21 07:28] FantasyOR commented on #180
Thank you for update.

[2021-06-21 07:28] #180 closed

[2021-06-21 07:37] FantasyOR opened #182 "All properties is nullable"
Hi.
I find bug - in dto models all properties is nullable.

![image](https://user-images.githubusercontent.com/3586153/122723370-8f2f8a80-d27b-11eb-9485-3d60dd9f5444.png)

[2021-06-30 13:53] Vovanella95 commented on #182
Hi @FantasyOR ,

It's not a but. We made all properties nullable because these models are used for making requests too. If you make request using GeneratedModel and you want include not all fields - the only one desision is to keep all properties nullable

[2021-06-30 13:59] FantasyOR commented on #182
Thanks. Okay.

[2021-06-30 13:59] #182 closed

[2021-07-01 19:29] jmls commented on #72
can you please reopen this ? hit the exact same error

[2021-07-06 13:21] WahdanZ opened #183 "Optional body for POST/PATCH/PUT"
I have a POST method without a Body(), which causes the following warning:
Body is null
Use @Body() annotation on your method parameter to provide a body to your request
Chopper already support that
[code]
https://github.com/lejard-h/chopper/issues/149

[2021-07-07 09:08] Vovanella95 commented on #183
Hi @WahdanZ ,

it's actually good idea!

We will take a look into it

[2021-07-07 11:10] Vovanella95 commented on #177
Hi @mzdm ,

Why you need to test generated code? Why just not ignore it in configuration and not include it into coverage report?

[2021-07-07 12:48] Vovanella95 commented on #72
Hi @jmls ,

Please share not working swagger file (or part of it) to detect root cause. Thanks

[2021-07-07 17:09] mzdm commented on #177
Sometimes there are needed some manual fixes (like changing models or fixing bugs) so to ensure that nothing else would break, but yea I have changed my mind about this and it's not a priority for me anymore.

So I think I'll close for now since it's not on my radar any time soon. 👍

[2021-07-07 17:09] #177 closed

[2021-07-08 07:46] Vovanella95 commented on #177
Hi @mzdm ,

In case of bugs just let us know :)

[2021-07-12 13:50] #163 closed

[2021-07-15 09:29] fryette opened #186 "Remove ? for dynamic types"
Sometimes we generate `dynamic?`.

Expected:
`dynamic`

[2021-07-19 21:07] point-source opened #187 "Class Attribute / Request Param collision"
I have a swagger spec which details some requests that accept a string parameter called "client". This shadows the client attribute of the generated class which prevents the method from accessing the chopper client.

How can I override one or the other of these in the generator?

[2021-07-19 21:41] point-source opened #188 "Enum maps in swagger.g.dart are missing 'enums.' prefix to correctly point at imported enums"
**api_name.swagger.dart** file contains these lines:

[code]

and when referencing an enum in this same file (notice the preceding `enums.`):

[code]

but the part file **api_name.swagger.g.dart** attempts to access them this way:

[code]

This gives the following errors:

By manually adding `enums.` preceding each MyEnum reference, the errors are corrected. Am I missing a build option / flag or i

[2021-07-20 00:35] point-source opened #189 "Cannot generate code from specific swagger 2.0 spec. Not sure why it's failing"
I am having an issue parsing this spec: https://webapidemo.rentalworks.net/swagger/accountservices-v1/swagger.json

In fact, pretty much every spec from this site has issues with this generator. I am assuming there is something wrong with the spec itself but I'm having a hard time figuring out what since I'm not familiar with how these code generators currently work. It looks like it is incorrectl

[2021-07-20 06:01] ltropin opened #190 "Null check operator used on a null value"
Hello, when generating the code, the following error appears:

[code]

my **build.yaml**:
[code]

**packages**:

[code]

[2021-07-20 08:19] Vovanella95 commented on #190
Hi @ltropin ,

Can you please provide swagger file or part of it where you have an error?

[2021-07-20 08:20] Vovanella95 commented on #189
Hi @point-source ,

I will check this issue ASAP

[2021-07-20 08:21] Vovanella95 commented on #189
@point-source  I can't open this link
https://webapidemo.rentalworks.net/swagger/accountservices-v1/swagger.json

Can you please share this swagger file?

[2021-07-20 08:24] Vovanella95 commented on #188
Hi @point-source ,

json_serializable file with .g postfix should not know about enums.

We add @JsonKey(fromJson: customMethod) for enum properties. If it not happend - please share swagger file with error and I will fix generator.

[2021-07-20 08:28] Vovanella95 commented on #187
Hi @point-source ,
you can try use use_path_for_request_names for request names. Possible it will change parameter names (I'm not sure).

You can share swagger file (or part of it) and I will fix swagger generator pr provide solution for you.

[2021-07-20 08:42] ltropin commented on #190
I do not know which part of the file is causing the problem

[File](https://dropmefiles.com/9x2UF)

[2021-07-20 09:01] Vovanella95 commented on #190
I will check it today and fix it. Thanks for raising an issue!

@ltropin

[2021-07-20 09:55] Vovanella95 commented on #190
@ltropin  thanks for provided file. You can remove it now if you want.

Problem was because request did not defined any type. I fixed it by generation Object for such cases.

Please check version 2.0.7+1  in pub.dev it's already published.

Please let us know in case of any other issues!

Feel free to close issue if everything OK

[2021-07-20 10:48] ltropin commented on #190
Thanks it worked

[2021-07-20 10:48] #190 closed

[2021-07-20 21:56] point-source commented on #189
Strange, I seem to be able to access it without any credentials/auth. What kind of error do you get?

I have also added it as a gist here: https://gist.github.com/point-source/5ac94a577ff56c6d48de0682b3739d53

[2021-07-20 21:57] point-source commented on #188
Here is the swagger file: https://gist.github.com/point-source/06bf4559145ecd01a2d806df61895b81

[2021-07-20 22:01] Vovanella95 commented on #189
@point-source  thanks, I'll check it tomorrow!

[2021-07-20 22:08] point-source commented on #187
I tried that but it only changed the method names, not the parameter names. Here is the code that is failing:

[code]

The `String? client` arg shadows the chopper client from the enclosing class so that `client.baseUrl` fails to resolve. (Error: The property 'baseUrl' can't be unconditionally accessed because the receiver can be 'null'.)

This can be fixed by the use of `this.` to avoid shadowing

[2021-07-21 06:14] LanderTome commented on #142
I have run into the same Response<Bool> issue as @sakthivel-sm. I believe that the issue is at line 426 of the src/code_generators/swagger_requests_generator.dart file.

`     if (returnType.isNotEmpty && returnType != 'num') {
      returnType = returnType.pascalCase;
    }
`

When the returnType 'bool' comes along, it Pascal cases it to 'Bool'. It works as expected if I modify the line to:

`

[2021-07-21 08:40] Vovanella95 commented on #183
Hi @WahdanZ ,

I've added this feature into 2.1.0 branch.

There are just few issues left to fix and it will be released!

[2021-07-21 08:43] Vovanella95 commented on #142
Hi @LanderTome ,

if you want feel free to create PR with fix. Or I can take a look into it soon.

[2021-07-21 08:59] miguelcmedeiros commented on #188
I'm having a similar issue where enums defined in the swagger file are mentioned the `*.swagger.dart` file, but the correspondent enum is not generated in `*.enums.swagger.dart` file.

In this example, I have a schema `model` with a property `icon`, which has a string property called `name` and an enum property called `kind`:
[code]

The `*.swagger.dart` will mention `enums.Model$IconKind` but the

[2021-07-21 22:59] point-source commented on #110
I am also running into this issue with properties that have no "type" descriptor such as this:

[code]

Note that "clientcode" is of type "string" while "applicationOptions" is unspecified. Reading through the [discussion here](https://github.com/OAI/OpenAPI-Specification/issues/1657), it seems that it is up to the developer of the code generator to choose how to handle this case since it technica

[2021-07-22 20:44] Vovanella95 commented on #189
THis one fails because your models has "+" symbols in names :D

Working on fix

[2021-07-22 20:49] point-source commented on #189
I actually noticed this and did a quick find/replace and replaced them with '-'. I also filed a bug report with the provider of this spec since it is non-compliant with the openapi official spec.

This fix allowed the models to build (with the build only models option) but the chopper classes still fail if I disable that option.

[2021-07-22 21:00] Vovanella95 commented on #189
@point-source I'll let you know when this file will generated without errors. Just wait a little. Already working ot in

[2021-07-22 21:02] point-source commented on #189
Sure thing. Thank you so much for the excellent support here!

[2021-07-22 21:18] Vovanella95 commented on #189
Ok now your file generated well!

I will check my changes on all my beatifull collection of swaggers and if everything is OK - release 2.0.9

Now you can use git ref in pubspec.yaml

swagger_dart_code_generator:
  git:
    url: https://github.com/epam-cross-platform-lab/swagger-dart-code-generator.git
    ref: version/2.0.9

[2021-07-22 22:03] point-source commented on #189
Testing now. Generation looks good, no errors. Trying to actually test against the api right now and getting a decode error. Trying to figure out if that's on my side or not.

Just for info, the error is: _TypeError (type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type 'FwCoreControllersFwJwtControllerJwtResponseModel?')

Occuring on the return line (copyWith) of decodeJson meth

[2021-07-22 22:20] point-source commented on #189
Ah yep, looks like the replacement of the JsonSerializableConverter() with chopper.JsonConverter() is the culprit. Specifically the removal of this code from generation:

[code]

Not saying we need to bring that code back but it does seem that they are not equivalent substitutes at the moment.

[2021-07-22 22:57] point-source commented on #189
Additionally, out of the 9 swagger files I have from this application, your fix has worked on 3 of them. Here are all of them so you can add them to your testing collection: https://www.dropbox.com/sh/2t3s99zsmgf89ar/AACGJzjw3cPRCCEMDMvn6is9a?dl=0

The ones that are working are:

- account_services
- exports
- plugins

Let me know how I can help here. Thanks again

[2021-07-23 07:12] Vovanella95 commented on #189
Cool, I'll check it

[2021-07-26 23:31] point-source opened #197 "Cannot find .swagger files generated by a previous builder (due to _generateExtensions behavior)"
I am trying to write a builder for my project as a preprocessor that can download json files, modify them, and then write them to disk as .swagger files before swagger-dart-code-generator runs.

I could not get this to work as it appears the the build_runner calls every registered builder's `buildExtensions` method at the beginning and uses the registered extensions to determine which order to run

[2021-07-27 01:15] point-source opened #198 "Inconsistent enum character casing between enum file and other generated files"
I am generating code based on the Plaid openapi spec here: https://github.com/plaid/plaid-openapi/blob/master/2020-09-14.yml

Most of it looks pretty good but one of the enums, "AprAprType" appears as "enums.APRAprType" in the plaid.swagger.dart file. This does not match the plaid.enums.swagger.dart file due to the inconsistent character casing on the first Apr/APR.

This has been generated using

[2021-07-27 01:37] point-source commented on #188
This issue is affecting the Plaid spec as well: https://github.com/plaid/plaid-openapi/blob/master/2020-09-14.yml

Tested with the 2.0.9 branch.

[2021-07-27 07:08] Vovanella95 commented on #188
I will check it

[2021-07-27 09:27] fryette commented on #188
@point-source could you please confirm that issue was reproduced with the latest 2.0.8 version?

[2021-07-27 17:08] point-source commented on #188
@fryette Unfortunately, when I try to build with 2.0.8 I encounter this error:

[code]
which I believe is because 2.0.8 (at least) does not handle this type:
[code]

So I manually removed that property as a test and it did build though the original enum related issue remains the same. Hopefully that helps. Let me know if there's anything else I can do.

[2021-07-28 08:14] Vovanella95 commented on #198
Hi @point-source ,

I'll check all your issues this week and try to fix it.

[2021-07-28 16:35] point-source commented on #198
@Vovanella95 thanks! Sorry about the barrage of reports. Not trying to overwhelm you. Just working on multiple API-related projects at once and this is my favorite generator so far. Thanks for the hard work!

[2021-07-29 17:20] Vovanella95 commented on #198
@point-source
Will check all your issues in 3-4 days

[2021-08-01 17:25] Vovanella95 commented on #187
Hi!

The issue happened because request parameter was named 'client' and it conflicted with chopper client instance.
I've created a PR and release new version soon.

[2021-08-01 17:26] Vovanella95 commented on #187
C.C. @point-source

[2021-08-01 18:34] Vovanella95 commented on #188
Ok let me see. I've fixed next swagger file
 https://github.com/plaid/plaid-openapi/blob/master/2020-09-14.yml

Anything else to fix in this issue?

@point-source  @miguelcmedeiros

[2021-08-01 18:57] point-source commented on #188
Awesome! Thank you so much. I can test this in about an hour.

[2021-08-01 19:07] Vovanella95 commented on #188
@point-source  test it from branch for now. Tomorrow I will release it to pub.dev. just need to test changes a bit

[2021-08-01 23:28] point-source commented on #188
Yep, this appears fixed in the 2.0.8_plus branch. Thanks!

[2021-08-01 23:46] point-source commented on #187
Yep, this issue appears solved on branch version/2.0.8_plus. To be clear, it adds a $ sign in front of the param name which I believe is the intended behavior but stating just to confirm.

Also, this spec suffers from the [enum issue](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/189) that was mostly fixed on 2.0.9. So in order to fully generate this one, I need the

[2021-08-02 07:07] Vovanella95 commented on #187
Hi @point-source

We add $ at the beginning of all parameters named by key words.  For example parameter 'if' will be named $if etc. As far I know it's good practice

[2021-08-02 07:08] point-source commented on #187
Works for me! Feel free to close either now or whenever you merge. Thanks

[2021-08-02 08:56] #187 closed

[2021-08-02 08:56] #188 closed

[2021-08-02 14:33] #189 closed

[2021-08-02 18:51] point-source opened #200 "Changing "with_base_url" from true to false changes the default Json converter and breaks deserialization"
EDIT: There is [a more accurate identification of this issue in this comment](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/200#issuecomment-892951197).

It appears that the `JsonSerializableConverter()` was removed in 2.0.8+1 as part of [this PR](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/pull/194) and as documented in [more detail on th

[2021-08-02 19:47] point-source commented on #198
This appears to have been fixed in release 2.0.8+1. Closing

[2021-08-02 19:47] #198 closed

[2021-08-02 21:44] point-source opened #201 "Swagger specs failing to build (Rentalworks API)"
As the [original issue](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/189#issuecomment-885288108) was closed (somewhat rightfully so), I wanted to open a new one here to track the collection as a whole. I am trying to generate clients for [this entire folder](https://www.dropbox.com/sh/2t3s99zsmgf89ar/AACGJzjw3cPRCCEMDMvn6is9a?dl=0) but right now only these (3 of 9)

[2021-08-03 17:59] Vovanella95 commented on #201
Hi @point-source ,

I've fixed issues with your crazy 200k+ lines swaggers :D

Please checl 2.0.1 branch for now. I will release new version when test everything.

[2021-08-03 18:26] point-source commented on #197
Just a heads up, I am working on this [here](https://github.com/point-source/swagger-dart-code-generator/tree/feature/build_capture_groups)

[2021-08-03 18:27] point-source commented on #201
Will test in about an hour. Thank you so much! Do you guys have a donation page? :heart:

[2021-08-03 23:07] point-source commented on #201
Looks like it's all good! Closing.

[2021-08-03 23:07] #201 closed

[2021-08-04 06:44] fryette opened #202 "Support .swagger.json files"
As part of library improvement, we should start supporting `.json` format as well. Actually, we already support it, just need to improve the parser a bit.

Pros: VS code start parsing swagger as JSON what helps developers find changes faster between generation faster

[2021-08-04 13:24] Vovanella95 commented on #200
Hi @point-source, the issue is about JsonSerializableConverter is not generated? Can you provide concrete json file and point on expected and actual retuls?

[2021-08-04 13:25] Vovanella95 commented on #200
@point-source  and please share build.yaml to restore all picture

[2021-08-04 20:26] point-source commented on #200
Ah, good catch. Turns out it was not a version/PR issue. I had changed the build.yaml around the time I moved from 2.0.7 to 2.0.8 so I incorrectly assumed it was related to the version change.

That said, the option I changed was `with_base_url: true` to `with_base_url: false` and since that seemed very straightforward, I did not expect it to have this side-effect. Here is a snippet of the **lasso

[2021-08-04 22:25] point-source opened #203 "include_if_null does not appear to have an effect"
I am generating code from [this swagger file](https://github.com/plaid/plaid-openapi/blob/master/2020-09-14.yml) using the following build options with version 2.0.8+1:

[code]

Changing the `include_if_null` between true/false does not appear to have an effect on the output. Null values are still being serialized. Specifically, the fields "client_id" and "secret" in the body of every request are

[2021-08-05 07:07] Vovanella95 commented on #200
Hi @point-source , yes, it's expected behavior. But it's not logical. Just legacy decision.

I've fixed it in 2.1.0 branch.

Now there are two properties with_base_url and with_converter you can use. Please try it and let me know if everything OK :)

[2021-08-05 07:17] Vovanella95 commented on #200
@point-source , also you can already use pub version 2.1.0-prerelease.2

[2021-08-05 15:22] Vovanella95 commented on #203
Hi @point-source ,

To use include_if_null feature you need to set it's value.

 include_if_null:
            enabled: true
            value: false

This way you can set includeIfNull: true, false or not use this feature at all. Possible we can optimize it and not use this feature when include_if_null is not defined. But currently it works as it.

So just set value to true or false and enjoy the

[2021-08-05 15:40] Vovanella95 commented on #203
@point-source

Since 2.1.0-prerelease.3 and in 2.1.0 branch you can use just
includeIfNull: false/true or not to use this flag if you don't want to add this attribute.

[2021-08-05 21:40] Vovanella95 commented on #141
Hi @Andrushka1012

Since 2.0 we support null safety. I'm closing the issue.

[2021-08-05 21:40] #141 closed

[2021-08-05 21:49] point-source commented on #203
According to the json_serializable docs, the default value of includeIfNull is true. So for swagger_dart_code_generator, what is the behavioral difference between these settings:

[code]
[code]
[code]

I seem to misunderstand how these switches work because it seems to me that all three of these configs would behave the same. The only one that would seem to change json_serializable's default is th

[2021-08-05 22:05] point-source commented on #200
2.1.0-prerelease.2 does appear to be including the right json converter, so thanks for that. However, it also seems to be changing the way methods and types are named and this is breaking generation on my lasso package/swagger.

Specifically, this:

[code]

has changed to this:

[code]

and the new code does not follow dart format conventions so the analyzer warns on the snake-case method. Additio

[2021-08-05 22:17] Vovanella95 commented on #200
Hi @point-source ,

Sure open new issue I will look at it

[2021-08-05 22:18] Vovanella95 commented on #203
Hi @point-source

1 case. includeIfNull will not be added to fields

2 case.` includeIfNull : true` will be added to fields

3 case.` include_if_null: false `will be added to fields

[2021-08-05 22:20] Vovanella95 commented on #200
Currently I've focused to release 2.1.0 with fully reimplemented requests generator. So all fixes will be applied to 2.1.0 version. Let's make it perfect :)

[2021-08-05 22:34] point-source commented on #203
I'm sorry, I still don't track.

So you have to set "enabled" to true to get it to be added to fields, but then in case 3, you don't? Case 3 has "enabled" set to false but you are saying it still gets added to fields because "value" is set to true?

If that really is how this works, it seems to me this could be reduced to a single bool rather than two.

[2021-08-05 22:40] point-source opened #204 "2.1.0-prerelease.2/3 is using snake_cased method names and incorrect type names"
It seems that methods are being named with snake_case and types have been inconsistently named such that the names don't match between the class declaration and references.

Specifically, this:

[code]

has changed to this:

[code]

Since the new code does not follow dart format conventions, the analyzer warns on the snake-case method names.

Additionally, the new type name `AccountEventStatusesLi

[2021-08-05 22:41] point-source commented on #200
Sounds good to me. Closing since this is now resolved with the new with_converter option.

[2021-08-05 22:41] #200 closed

[2021-08-06 00:09] point-source opened #205 "Request url params specified by non-primitive types are not properly serialized/encoded into requests"
Using [this package](https://github.com/point-source/dart_rentalworks) (generated with swagger_dart_code_generator) to perform the following request:

[code]

This results in a 500: Internal Server Error because the FwStandardModelsFwQueryFilter gets converted to a string rather than serialized to json and url encoded. The request that gets created is:

`Request (GET https://my-company.rentalworks

[2021-08-06 07:40] Vovanella95 commented on #203
Hi @point-source

Ahh sorry my fault. case 3 works same as case 1.

in case 4 you will have` include_if_null: false`

I've already reduced it to one bool value in latest prerelease.

If you using 2.0.X version set enabled: true and value true/false to use this feature

[2021-08-06 19:04] point-source commented on #203
Sounds good to me! Thanks

[2021-08-06 19:04] #203 closed

[2021-08-10 01:44] point-source commented on #205
I am currently working around this with the following interceptor code:

[code]

Additionally, while developing this workaround, I came across what I believe to be a[ bug in chopper](https://github.com/lejard-h/chopper/issues/283).

[2021-08-10 06:38] point-source opened #206 "Setting build_only_models to 'true' fails to default with_converter to 'false'"
By default, `with_converter` is (correctly) set to true. However, when `build_only_models` is set to true, the chopper converter is likely not needed but is generated anyway. This results in an error since this line fails to find a chopper.JsonConverter to extend from:

`class JsonSerializableConverter extends chopper.JsonConverter {`

We should either generate the chopper converter or automatical

[2021-08-10 10:57] fphilip opened #207 "Problems with conversion in isSuccessful=false responses"
Hi, I'm using the error field of no successful responses, but this is not converted... It is possible?

![image](https://user-images.githubusercontent.com/2574152/128853319-43f23411-710d-412d-a3e2-f2feb70f5ed5.png)

![image](https://user-images.githubusercontent.com/2574152/128853370-94e927fc-f8c2-40fe-b212-fcad50064a50.png)

[2021-08-10 11:35] Vovanella95 commented on #207
Hi @fphilip ,

We 're not generating return type for Error responses. To handle it you can override response and parse it by own.

in build.yaml do next:

[code]

And then you will receive Map, and can use `ErrorResponse.fromJson(response.data)`

Does it help?

[2021-08-10 13:41] fphilip commented on #207
Hi. Try that way, but I have many cases and I preferred to use "json.decode".

Is it in your roadmap to map codes with definitions?

[2021-08-10 14:33] Vovanella95 commented on #207
Hi @fphilip ,

We can have a lot of errors. When we write service we don't know concrete type of error we will receive. For example, if we have 400 errorm 404 error, 500 error with different return models.

Currently I can't realize, how we can configure chopper file with many of error types. Do you have any ideas how we can generate it?

[2021-08-12 12:57] zhukeev opened #208 "type 'YamlMap' is not a subtype of type 'bool?' in type cast"
Can not run with this file. version : ^2.1.0-prerelease.3

*Swagger file*

[link](https://docs.google.com/document/d/1PR9K6gca2eTAyYqA35x5J5ylME-_P26XSwign2qHrAc/edit?usp=sharing)

*build.yaml*

``
targets:
  $default:
    sources:
      - lib/**
      - $package$
    builders:
      swagger_dart_code_generator:
        options:
          with_base_url: true
          with_converter: true

[2021-08-12 15:20] Vovanella95 commented on #208
Hi @zhukeev ,
I will try to check it today

[2021-08-12 23:08] Vovanella95 commented on #208
Ahh problem is not in build.yaml. I'll fix this ASAP (tomorrow or next weak)

[2021-08-16 16:17] zhukeev commented on #208
Any news out there ?

[2021-08-17 06:58] Vovanella95 commented on #208
Hi @zhukeev , promise to check it today

[2021-08-17 11:22] Vovanella95 commented on #208
Hi again. I've tried to generate your config and looks like something wrong in your build.yaml. Please ensure all spaces are correct. Here is formatted build.yaml file:

`targets:
  $default:
    sources:
      - lib/**
      - $package$
    builders:
      swagger_dart_code_generator:
        options:
          with_base_url: true
          with_converter: true
          use_required_attribute_fo

[2021-08-17 11:25] Vovanella95 commented on #208
Check working example at next [branch](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/tree/issue/208)

[build.yaml](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/blob/issue/208/example/build.yaml)

[2021-08-17 11:26] Vovanella95 commented on #207
Hey @fphilip ,

any ideas?

[2021-08-17 12:28] Vovanella95 commented on #208
### Most important thing you're using prerelease. There is include_if_null is just bool? value.

just change build.yaml to` include_if_null: false`

[2021-08-17 12:30] Vovanella95 commented on #208
I will change README when branch will be merged into master

[2021-08-17 12:31] Vovanella95 commented on #208
C.C. @zhukeev

[2021-08-17 12:32] zhukeev commented on #208
I got it thanks

[2021-08-17 12:48] zhukeev commented on #208
then it says
``` type 'Null' is not a subtype of type 'String' in type cast ```

[2021-08-17 12:57] zhukeev commented on #208
oh it's ok now, I replaced build.yaml with the example app's one

[2021-08-17 13:06] zhukeev commented on #208
but it generates like this ```
  ///
  @Get(path: '/user/user/{id}/')
  Future<chopper.Response<User>> userUserIdGet();
[code]

[2021-08-17 13:40] Vovanella95 commented on #208
@zhukeev , Will check it right now

[2021-08-17 14:07] Vovanella95 commented on #208
@zhukeev  It's not depend on this property. You just have supercool swagger file with new border cases :) It's really great I can improve our generator!

Give me just few minutes

[2021-08-17 14:10] Vovanella95 commented on #208
@zhukeev  please check this one: https://pub.dev/packages/swagger_dart_code_generator/versions/2.1.0-prerelease.4

Your file is generated without issues.

Is everything OK?

[2021-08-17 14:13] zhukeev commented on #208
Thanks!  Let me check now

[2021-08-17 14:16] zhukeev commented on #208
Yes it generates without any issue but the problem with GET, DELETE methods still there - without id properies

[2021-08-17 14:16] Vovanella95 commented on #208
@Get(path: '/user/user/{id}/')
  Future<chopper.Response<User>> userUserIdGet();

Is generated without parameters anyway. because it has '"parameters": [],' in swagger file.

[2021-08-17 14:17] Vovanella95 commented on #208
"delete": {
          "operationId": "user_user_delete",
          "description": "",
          "parameters": [],
          "responses": {
            "204": {
              "description": ""
            }
          },
          "tags": [
            "user"
          ]
        },

        Delete also has no parameters in swagger file.

[2021-08-17 14:17] zhukeev commented on #208
Ahh, thanks

[2021-08-17 14:18] Vovanella95 commented on #208
Ah, they has common parameter below. Unfortunatelly it's not supported right now. I can implement it in few days. Can we create separate issue for this?

[2021-08-17 14:18] Vovanella95 commented on #208
@zhukeev  C.C.

[2021-08-17 14:19] Vovanella95 commented on #208
It's easy fix but I don't have time right now to handle it. But I will do this anyway

[2021-08-17 14:19] zhukeev commented on #208
Yes, sure

[2021-08-17 14:30] Vovanella95 opened #211 "Generate parameters from common parameters"
To generate request parameters from "parameters" on path.

[2021-08-17 14:30] Vovanella95 commented on #208
Created!
https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/new

Closing this one.

[2021-08-17 14:30] #208 closed

[2021-08-17 19:14] fphilip commented on #207
Sorry, I don't know the best way to can resolve this problem...

maybe if code exist with exact match, we return a mapped error response? if
not mapped, maybe any pattern like 40x nd 4x?

On Tue, Aug 17, 2021 at 1:27 PM Uladzimir_Paliukhovich <
***@***.***> wrote:

--
Francisco Philip
(+34) 679 394 027

[2021-08-18 07:10] Vovanella95 commented on #207
I've though about this problem and the only way is to map it by hand using response body. Possible we can generate something like `ErrorCodeToType` map and use it but it's not really useful.

C.C. @fphilip

[2021-08-19 00:44] sarim opened #212 "api_platform's openapi schema fails: Reason: Could not format because the source could not be parsed"
api in question is:
https://demo.api-platform.com/docs.json?spec_version=2
or
https://demo.api-platform.com/docs.json

its ui is https://demo.api-platform.com/docs

Relevant error log
[code]

Seems like `"name": "order[id]",` in json is converted to `String? order[id]` in dart, which for obvious reason is generating a syntax error.

[2021-08-19 07:00] Vovanella95 commented on #212
Hi @sarim , I will check it today

[2021-08-19 08:22] Vovanella95 commented on #212
Hi @sarim
Please check out latest prerelease. I've fixed generation issues and your file generated without issues.
https://pub.dev/packages/swagger_dart_code_generator/versions/2.1.0-prerelease.5

[2021-08-19 08:40] #202 closed

[2021-08-19 08:40] #212 closed

[2021-08-19 12:16] Vovanella95 commented on #207
Please let us know if there are any ideas. Now closing issue.

C.C. @fphilip

[2021-08-19 12:16] #207 closed

[2021-08-19 12:21] Vovanella95 commented on #206
Hi @point-source

Good point. I will fix it

[2021-08-19 16:45] sarim commented on #212
Thanks, generation now runs without errors (y)

[2021-08-20 18:46] fryette opened #213 "Rename JsonSerializableConverter to $JsonSerializableConverter"
Rename JsonSerializableConverter to $JsonSerializableConverter
Same for CustomJsonDecoder to $CustomJsonDecoder
field name final jsonDecoder to $jsonDecoder
Same typedef JsonFactory  to $JsonFactory

[2021-08-21 10:24] fryette opened #214 "Upgrade packages"
Need to prepare for future Flutter release and upgrade internal packages.
json_serializable
json_annotation

[2021-08-23 12:19] #213 closed

[2021-08-23 15:13] Vovanella95 commented on #117
I don't know what is this ticket about

[2021-08-23 15:13] #117 closed

[2021-08-23 15:17] Vovanella95 commented on #204
Hi @point-source ,

We decided to always generate request names from path and remove next build option: `use_path_for_request_names`

If your project uses version less than 2.1.0-prerelease.7, please just set use_path_for_request_names to true.

[2021-08-23 16:06] Dafaque opened #219 "type '_InternalLinkedHashMap<String, dynamic>' is not a subtype of type <Type> in type cast"
Hi!
My config:
[code]
Chema contains this part:
[code]

I've generated .dart code with `flutter pub run build_runner build --delete-conflicting-outputs`

Later, i'm trying to execute `getRooms` method. Signature is correct:
<img width="529" alt="Снимок экрана 2021-08-23 в 18 56 07" src="https://user-images.githubusercontent.com/47787979/130478752-40441f83-e488-4424-8a97-221fcbe1cc33.png">

But any

[2021-08-24 07:05] Vovanella95 commented on #219
Hi @Dafaque ,

Please use just include_if_null: true/false

Since prerelease it's just bool value.

[2021-08-24 07:09] Vovanella95 commented on #219
@Dafaque

https://github.com/epam-cross-platform-lab/swagger-dart-code-generator#includeIfNull-for-model-generation
See note. NOTE! FOR 2.1.0 and higher use just include_if_null: true/false

I will remove this note and update description to avoid misunderstandings..

[2021-08-24 07:18] #186 closed

[2021-08-24 07:18] #204 closed

[2021-08-24 08:01] Dafaque commented on #219
Hi!
Changed as you told. Now got this err while generating:
[code]
Config now:
[code]
Using latest ver:
[code]

[2021-08-24 08:09] Dafaque commented on #219
Hi!
Upgraded to `2.1.0-prerelease.6`., and changed as you told.
Now error while try to generate files:
[code]
If use previous version will throw this error:
[code]

And if not use this key at all error won't appear.
But topic issue still appear.

[2021-08-24 08:11] Vovanella95 commented on #219
@Dafaque , please make flutter clean and flutter pub get. It could help

[2021-08-24 08:12] Vovanella95 commented on #219
@Dafaque if issue still appear - please share build.yaml file

[2021-08-24 09:47] guymclean opened #221 "Generated code has lint errors"
In version 2.0.4 you "Added equals override method to all Models" which allows us to unit test our code, thanks! Newer versions of Dart specify you must also override 'hashCode' when overriding '=='. As part of our CI pipelines we run 'dart fix' which automatically fixes issues like this one. This now means that each time we run build runner, the generated code reverts to having these lint issues

[2021-08-24 09:59] Dafaque commented on #219
`clean` helped with generation, but issue still here:
<img width="954" alt="Снимок экрана 2021-08-24 в 12 51 42" src="https://user-images.githubusercontent.com/47787979/130596950-002e94ad-1ea3-4046-8c9b-c37b5d30ce39.png">

__build.yaml__:
[code]

[2021-08-24 18:41] Vovanella95 commented on #219
@Dafaque, so code is generated, but it has compile time errors, right?

Can you please share swagger file or part of it? Or just something

Or it's runtime error?

[2021-08-24 18:49] Dafaque commented on #219
Part of swagger file is in issue description.
Issue is runtime.
I'm calling `getRooms` method, the result in func signature is `Future<Response<List<Room>>>>`, but when i accessing `response.body` i got error, that tells that data in body is not Room - it is a map.

[2021-08-24 18:58] Vovanella95 commented on #219
@Dafaque  Ah yes I see. I will check it ASAP and fix it.

[2021-08-25 11:13] Vovanella95 commented on #219
Hi @Dafaque,

I've checked your request and everything is OK. I've setted up some rooms in my Firebase.
https://firebasestorage.googleapis.com/v0/b/vovanella.appspot.com/o/rooms%2Frooms.json?alt=media&token=b1cdf8a9-6bd0-417f-9aea-6a9521a023f7

I see next possible problems.

- You created client in wrong way. Possible you forgot to add $JsonSerializableConverter
final client = SomeSwagger.create(

[2021-08-25 11:15] Vovanella95 commented on #219
<img width="706" alt="Screenshot 2021-08-25 at 14 09 59" src="https://user-images.githubusercontent.com/11267533/130781018-2d91e4c0-9415-491c-a40c-0c5ac05778cb.png">

[2021-08-25 11:15] Vovanella95 commented on #221
Hi @guymclean ,

We will generate getHashCode override too. Thanks for raising this issue.

[2021-08-25 11:33] Dafaque commented on #219
Hello!
You are right, my converter was different from `$JsonSerializableConverter`

In my case, I need to manually specify the hostname, so the standard constructor of client didn't work for me.

Could you complement your example on pub.dev with a manual configuration case?

Thank you very much for helping me figure it out!

[2021-08-25 11:33] #219 closed

[2021-08-25 11:46] Vovanella95 commented on #221
Hi again.
Please check v 2.1.0-prerelease.8

@guymclean

[2021-08-25 11:46] #221 closed

[2021-08-25 12:12] ened commented on #182
@Vovanella95 While I can see the reasoning for the decision, I disagree with it. Non-Nullable fields should be marked as such in Dart and cause proper JSON parse errors when the response is received with invalid data.

Likewise, for fields that are actually nullable, the consumer of the API client should be required to handle it.

If the same model is used for a request and has a different set of

[2021-08-25 12:21] Vovanella95 commented on #182
Hi @ened,

It's needed in cases, when You use it like request body or as request parameter. If properties are not nullable - you will always include them into request body and server can re-write data by empty strings and zeros. So we decided to make all properties nullable, so you can use includeIfNull parameter to manage, what will be sent to server.

In future we want to generate separate set o

[2021-08-25 12:25] ened commented on #182
1. Non-nullable fields should be set on the object constructor when making the request, never through a setter for the reason you mentioned.
2. Nullable fields, when null, can be managed with the includeWhenNull property, cool.

Separate models for request and response would be the best way, but also this should be up to the swagger user, not a decision in the swagger code generator.

[2021-08-25 12:33] Vovanella95 commented on #182
We will implement separate models in future. But for now - no.

Also I did not understand point 1. If field not nullable - it will always has value in moment we use it. So it will be anyway sent to server as 0 or empty string or smth.

[2021-08-25 13:05] ened commented on #182
For point 1:

Given the generated code has two fields:

[code]

Then instantiating this with:

[code]

Would do exactly what I'd expect it to. If the field is required, the user sets a value to it. If user sets that value to `''`, that's now the users decision.

Currently, the above request class is defined as:

[code]

Which causes the problem you mentioned (0, empty string, etc.. ). Correct?

[2021-08-26 03:53] sarim opened #223 "How to customize create method of generated service?"
Api in question: https://demo.api-platform.com/docs.json?spec_version=3
Its saved as bookshop.json.

I have to do the following changes to make the api work.
![image](https://user-images.githubusercontent.com/1235888/130896984-329a9609-c850-4275-9f63-7d2e92e95704.png)

Obviously realistically I can't edit the generated create method, as it'll be replaced in next build_runner run.

My question is h

[2021-08-26 13:17] #223 closed, assigned to nobody

[2021-08-26 23:15] fryette opened #228 "[BUG] Incorrect generation for api_service.swagger.json"
**Describe the bug**
Generated double name of `import 'api_service.swagger.swagger.dart';`

**To Reproduce**
Name the swagger file as api_service.swagger.json

Check client_mapping.dart

**Expected behavior**
Should be `import 'api_service.swagger.dart';`

**Library version used:**
2.1.0-prerelease.8

[2021-08-27 14:30] #228 closed, assigned to fryette, Vovanella95

[2021-08-28 08:45] Vovanella95 commented on #110
Hi @WahdanZ , @point-source , @VoLaNg

Too many issues in one issue. I've generated your examples and looks like they are generated well. Support of allof will be implemented soon. Currently it's not supported.

Please create separate issues if you still have ones. Thanks!

[2021-08-28 08:45] #110 closed

[2021-08-28 08:48] Vovanella95 commented on #116
I don't remember what is this ticket about. Please raise new issue if it's needed with more details.

[2021-08-28 08:48] #116 closed

[2021-08-28 08:50] Vovanella95 commented on #183
Hi @WahdanZ please chech 2.1.1 version. I've added support of this. Please let us know if something works wrong.

Thanks for this cool idea!

[2021-08-28 08:50] #183 closed

[2021-08-28 13:00] #108 closed

[2021-08-28 14:24] Vovanella95 commented on #142
Hi @sakthivel-sm , @syq7970 , @LanderTome ,

Just checked your file and it's generated without issues. Thanks @LanderTome  for fix. I'm closing the issue. Feel free to create another ones :)

[2021-08-28 14:24] #142 closed

[2021-08-28 14:27] Vovanella95 commented on #142
The only one thing there is no next ref

`Error-ModelName{namespace='org.javers.core.diff', name='Change'}`

It's crazy thing possible swagger file is incorrect :D

[2021-08-30 14:55] fryette opened #235 "[BUG] Number generates as $num"
**Describe the bug**
If the model in swagger contains work `number` it's generate $number

**Expected behavior**
field number should be generated without $

**Library version used:**
2.2.1

[2021-08-30 16:00] #235 closed

[2021-09-01 14:39] ened commented on #182
@Vovanella95 hi, do you have any further comment?

[2021-09-02 15:48] Vovanella95 commented on #182
@ened  hello,

Generation of two fields is too complex and looks like spike. I can't accept it sorry

[2021-09-02 15:50] ened commented on #182
@Vovanella95 I was not asking for 2 fields. Just sensible null value and constructor with default arguments to workaround the null, '', 0 issue.. :)

[2021-09-02 15:53] ened commented on #182
@Vovanella95 I don't? If the field is `null` it shouldn't be sent and the value in the Dart object should be optional. (`?`)

[2021-09-02 15:56] Vovanella95 commented on #182
@ened

class SomeRequest {
  const SomeRequest({
    this.field,
    this.field2,
  });

  final String? field;
  final String? field2;
}

Is not possible construction. we should mark properties as required or make them nullable. Can you propose the way how to generate non-nullable fields and exclude them from requests? Sorry if I missing the point

[2021-09-02 15:59] ened commented on #182
Yes, apologies @Vovanella95 , this should be:

[code]

In this case, when the swagger file defines a required field, this will translate directly to `required` field attribute in the constructor.

Constructing a `SomeRequest` in this case would ensure the API user sets the required fields right away.

[2021-09-02 16:00] Vovanella95 commented on #182
But if I want to send this model to server with field==null? In this case it's not possible

[2021-09-02 16:01] Vovanella95 commented on #182
I mean if I want not to send field to server

[2021-09-02 16:03] ened commented on #182
If the field is `null`, you omit it - and let the server understand that a missing field means `null`, `''`, `0` or anything else.

As mentioned previously, if the server needs a request field to be nullable, the Swagger file would use a different object for request and response. If the swagger file "re-uses" the same model object for both request and response, this is a matter of the swagger defi

[2021-09-02 16:10] Vovanella95 commented on #182
@ened Server not even recognize '' as 'no value'. For example, server can think, you can rename something to empty line, but you did not wanted to change this value. Same for 0

[2021-09-02 16:17] ened commented on #182
@Vovanella95 based:

[code]

If you set `field` to "something", or to "", then it will be sent to the server with that value. The server figures if "" is valid or not.
If you set `field2` to "something", or to "", the same rule applies.

If you don't set `field2`, it is `null` and will not be sent by swagger. I don't see what the problem is.

[2021-09-02 16:25] Vovanella95 commented on #182
@ened  I don't want to send "" or 0 to the server. Because if the server receives 0, it can decide to change some value to 0. Same for strings.

[2021-09-02 16:29] ened commented on #182
@Vovanella95 then just don't set the `field2`, in this example. If you don't set it, my expectation is that this plugin just ignores it and does not sent it to the server, so the server can figure it out. It's very simple, isn't it?

[2021-09-02 17:15] Vovanella95 commented on #182
@ened  OK but field 2 is nullable. And you still should use ?? or ! operators to get this value.

[2021-09-02 17:29] ened commented on #182
@Vovanella95 yes of course. For fields that are marked optional in the swagger files that absolutely fine (and expected).

[2021-09-02 21:25] Vovanella95 commented on #182
@ened  Yes you're right. But If I really want not to send such parameters to server even if they are marked as required? We need to do this at out project. So possible on another projects it's needed too. That's why I want to generate separate models for request bodies and separate for responses.

[2021-09-03 07:38] ened commented on #182
So by definition, if you don't want to send a required field, you are "breaking the API". That's the exact reason we have Swagger!! :-)

In your own project, you should then probably define separate models for request (all optional fields) and response (only "true" optional fields are marked as such) in the swagger file. Again, this code generator should not take break the swagger spec.

[2021-09-03 07:45] Vovanella95 commented on #182
@ened  Anyway I will no make fields not nullable. I will implement approach with separate models in future. Thanks for understanding :)

[2021-09-06 10:04] prasmussen opened #239 "Support for path parameters?"
Is there support for [path params](https://github.com/lejard-h/chopper/blob/master/requests.md#path-parameters)?

My swagger definition contains operation with path params. I'm able to generate code, but I don't see any `@Path` annotations or function parameters where the values can be given.

[2021-09-06 12:18] fryette commented on #239
Is it possible to share the swagger?
It helps us to faster assist with that issue.
Feel free to send it privately to **ysampir@gmail.com** or *Vovanella95@mail.ru*

Thanks!

[2021-09-07 07:15] Vovanella95 commented on #239
Hi @prasmussen , Path parameters are already supported. If you have issues with them - please share swagger file. But anyway path parameters are supported. THat's my answer

[2021-09-07 07:18] prasmussen commented on #239
Thanks, then there is probably something strange with my swagger file. Will investigate further on my own.

[2021-09-07 07:18] #239 closed

[2021-09-07 07:22] Vovanella95 commented on #239
@prasmussen  your swagger file should be converted to json format.  Here is an example of path parameter

[code]

[2021-09-07 11:23] prasmussen opened #240 "[BUG] Path params not generated"
**Describe the bug**
The following swagger definition does not generate a function argument for the defined path param. The path param is defined as a  [Common Parameters for All Methods of a Path](https://swagger.io/docs/specification/describing-parameters/#common-for-path) which seems to not be supported?

**To Reproduce**
Swagger:
[code]

Generated code:
[code]

**Expected behavior**
Expected g

[2021-09-07 11:37] Vovanella95 commented on #240
Hi @prasmussen , looks like easy fix. Will fix it today

[2021-09-07 15:48] Vovanella95 commented on #240
@prasmussen , enjoy 2.1.1+3 version already in pub.dev

Please, let us know in case of any issues

[2021-09-07 16:03] #211 closed

[2021-09-07 16:03] #240 closed

[2021-09-08 13:18] prasmussen commented on #240
It works now 👍
Thanks a lot for the quick fix :)

[2021-09-10 14:03] Vovanella95 commented on #205
Hi @point-source , Please ensure .swagger.dart file is correct. If no - we will fix it just let us know how.  Or if it's chopper issue - close this issue.

Thanks in advance :)

[2021-09-10 14:13] fryette commented on #214
Need to check new features of json_serializable and json_annotation generator

[2021-09-12 08:32] point-source commented on #205
The swagger seems to be fine as far as I can tell. I'm not 100% sure if this is a chopper issue or not but it looks like one to me. The workaround I posted is something that can be integrated with this library to workaround the issue. As you can see, I did file a bug report with chopper as well. In the meantime, I will work on making a swagger file and test that demonstrates this issue to try to d

[2021-09-12 18:46] fryette commented on #205
@point-source you always can create a file with chopper annotation by yourself without swagger code generator.
But probably for us would be much better to have a swagger file that we can reproduce issue.
Or you can create test swagger for us if it is too private

[2021-09-13 14:39] Vovanella95 commented on #205
@point-source  please share the expected generated file and the actual one. And also example of swagger code.

[2021-09-17 13:58] lucasdidur opened #244 "[FEATURE] New flag for build all DTO's in separeted files"
There is any way to generate separated files instead of a big 1 file? like all dto files?

[2021-09-17 14:53] Vovanella95 commented on #244
Hi @lucasdidur ,

Sounds fine, but we already have .swagger.dart, .chopper.dart, .enums.dart, .g.dart :D Do we really need one more file? :)

[2021-09-19 21:33] fryette commented on #244
@lucasdidur why do you need it?

We would like concentrate to provide end to end solutions, and if u have a really huge swagger with a lot of models then the model's file will be as well huge.

[2021-09-20 10:37] dtaskai opened #245 "[QUESTION] Path still gets generated even when told not to"
Path still gets generated in the swagger.dart file when specified like the following in the build.yaml file:

targets:
  $default:
    sources:
      - lib/**
      - $package$
    builders:
      chopper_generator:
        options:
          header: "//Generated code"
      swagger_dart_code_generator:
        options:
          input_folder: "lib/"
          output_folder: "lib/swagger_generated

[2021-09-20 13:46] Vovanella95 commented on #245
hi @dtaskai , exclude_path and include_path are regex strings. to make your path excluded, you need to add something like this:

`\/api\/mobile\/actuator\/`

Please use Regex validator to check is you String passing or not. For example, you can use this validator: https://regex101.com/

[2021-09-20 13:47] Vovanella95 commented on #245
@dtaskai , if something is not clear - please let us know

[2021-09-20 23:37] point-source commented on #205
I'm sorry guys, I just have not had time to look at this. Way behind on development in other areas. I'm going to close this for now and reopen when I can. Thanks for the help

[2021-09-20 23:37] #205 closed

[2021-09-22 06:18] masseelch opened #248 "[QUESTION] Chooper 4.x.x?"
**Please describe a problem.**
I am wondering: Current published version is flaged as nullsafe but is using a non-nullsafe version of chopper (3.x) while there already is a published nullsafe version (4.x).

**Describe the solution you'd like**
Clarify whether 4.x is supported and if so update the readme.

[2021-09-22 06:31] Vovanella95 commented on #248
Hi @masseelch , We're not using chopper to generate our code. You can use latest version of our generator and latest version of chopper at the same time. Where did you found chopper 3.x version?

Please find our our example https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/blob/master/example/pubspec.yaml

So because we already support null-safe version, I'm not going to updat

[2021-09-22 06:35] masseelch commented on #248
Chopper started to use null-safety with version 4.0.0. With the constraints given in the current readme the user will not get 4.0.x but the not null-safe version 3.0.6.

I did not know I can use the generator without generating chopper. This works for me :-)

[2021-09-22 06:56] masseelch commented on #248
The example does not compile though :cry:

[code]

[2021-09-22 07:14] dtaskai opened #249 "[QUESTION] Backend returns a 404, but the generated swagger code returns a 200"
I have this part in my swagger file, which defines a 200 and a 404 for the URL which accepts a String and returns a json response:

`
"responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UniPost"
              }
            }
          },

[2021-09-22 07:17] Vovanella95 commented on #248
@masseelch  did you find out why example not compiles? Any questions?

[2021-09-22 07:22] Vovanella95 commented on #249
Hi @dtaskai , It's interesting case. It should work fine. I can't answer without debugging because it's reason is not obvious.

[2021-09-22 07:22] masseelch commented on #248
No I did not look any further. I think I won't use this package. There are some things, that bother me, to be honest:

- Outdated readme
- Examples don't compile
- Does not follow naming conventions on spec file (`openapi.json` -> `*.swagger` has been deprecated a while ago).

[2021-09-22 07:28] dtaskai commented on #249
Tried to reproduce it in a fresh project and in there it works flawlessly, probably some dependency issue, thanks for your quick response!

[2021-09-22 07:31] masseelch commented on #248
Okay, my fault: my IDE removed the `build.yaml`. After re-adding it I get another error though:

[code]

[2021-09-22 07:34] masseelch commented on #248
Part of my spec:
[code]

The above is valid OAS 3.0.3 schema. Will you accept a PR prefixing numeric names with an `X` or something like that?

[2021-09-22 07:35] Vovanella95 commented on #249
@dtaskai strange thing :D Please let us know in case of any issue! Can we close an issue then?

[2021-09-22 07:37] Vovanella95 commented on #248
@masseelch , Ahh, looks like your swagger file has some border cases. I'm reopening the issue. Can you swagger code for at least one model with such name? I will fix it ASAP. Will try to do this today.

[2021-09-22 07:42] dtaskai commented on #249
Yes, definitely!

[2021-09-22 07:42] #249 closed

[2021-09-22 08:07] masseelch commented on #248
I am using [this one](https://github.com/masseelch/elk/blob/a1191f864b40829c114bc3728f53f0686fb0f909/internal/fridge/ent/openapi.json)

[2021-09-22 08:16] Vovanella95 commented on #248
@masseelch thanks, I will try to handle it soon. Will let you know.

[2021-09-22 08:18] masseelch commented on #248
Thank you very much 🥰

[2021-09-22 10:53] dtaskai commented on #245
The exclusion didn't work on my project even after using regex syntax, so I have tried it on the example project:

Added an exclusion to `/rooms`
`
swagger_dart_code_generator:
        options:
          input_folder: "lib/"
          output_folder: "lib/swagger_generated_code/"
          exclude_paths:
            - "\/rooms"
 `

Ran `flutter build run build_runner build`

Then it still generated

[2021-09-22 14:39] Vovanella95 commented on #248
Hi again @masseelch ,
I've released 2.1.3+1. Now your file generated without any issues. Thanks for this issue.

[2021-09-22 14:43] Vovanella95 commented on #245
Ok good let me check it

[2021-09-22 14:45] Vovanella95 commented on #245
@dtaskai  Yep you're right. We removed it in 2+ version. Let me fix.

[2021-09-22 14:58] masseelch commented on #248
You are awesome <3

[2021-09-22 15:02] masseelch commented on #248
Can confirm, build runs green. I will now checkout the generated code. Awesome work!

[2021-09-22 15:02] #248 closed

[2021-09-22 15:03] Vovanella95 commented on #245
@dtaskai Please try it on latest version. Also you can put just `/rooms` to exclude_path. It works.

Latest version is 2.1.3+2

[2021-09-22 16:38] dtaskai commented on #245
Works on both the example and my personal project, thank you!

[2021-09-22 16:38] #245 closed

[2021-09-25 14:04] vadimlukutin opened #251 "[BUG] swagger.g.dart'; didn't generate file"
swagger.g.dart'; didn't generate file

[2021-09-25 20:55] fryette commented on #251
@vadimlukutin
1) Please use a bug template.
2) Please provide the swagger or a part where we can help.

[2021-09-26 09:41] fryette commented on #251
Resolved.
The exception was in old json_serializable.

[2021-09-26 09:41] #251 closed

[2021-09-27 14:14] Vovanella95 commented on #244
Ok, I'm not convinced. Propose to close this issue. @fryette ?

[2021-09-29 08:55] andrlange opened #253 "Path Parameter Error on ref"
The build creates undefined object types using refs

**To Reproduce**
having the parameter id: in the path user/{id}
"/usert/{id}": {
      "get": {
parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ObjectId"
            }
          }
        ],
     }
}

**Expected behavi

[2021-09-29 11:32] fryette commented on #253
@andrlange I'm not sure but could you please make `flutter pub upgrade` and than rerun generation?

[2021-09-29 12:49] Vovanella95 commented on #253
Hi @andrlange , looks interesting. I will check it asap

[2021-09-29 13:56] Vovanella95 commented on #253
Hi again @andrlange ,

The issue happens because your request does not have responses. this field is mandatory. If I put your example to swagger editor - error will occured.
<img width="768" alt="Screenshot 2021-09-29 at 16 54 50" src="https://user-images.githubusercontent.com/11267533/135282740-3e7c64b2-e55c-4771-a95f-25d4a45496bb.png">

So handle it add responses to your swagger request. For exa

[2021-09-29 13:57] Vovanella95 commented on #253
I've generated code and it looks fine.

`///
  ///@param id
  @Get(path: '/usert/{id}')
  Future<chopper.Response<List<ObjectId>>> usertIdGet(
      {@Path('id') required ObjectId? id});`

[2021-09-29 14:53] andrlange commented on #253
Thanks for your super fast response. I have responses on my request but a after bumping json_serializable from 4.1.3 to 5.0.2 it works ...

[2021-09-29 14:53] #253 closed

[2021-09-29 15:50] fryette commented on #253
@andrlange changelog upgraded accordingly.
Our mistake. Thx!

[2021-10-06 02:46] point-source commented on #244
While I am not sure whether or not it would fix it, I have had issues with the size of the generated files with regard to IntelliSense functionality. If I hover over a class name or try to use dot notation to access a member, IntelliSense often takes upwards of ~5 seconds to display any useable info when the generated source file is especially large (mine is >100k lines).

There have been multiple

[2021-10-06 07:03] Vovanella95 commented on #244
Hi @point-source ,

for example, you can use exclude_path or include_path to filter paths and not to generate all requests. If models in separate file really help - I'm ready to implement it.

[2021-10-06 07:04] Vovanella95 commented on #244
Ok @lucasdidur , @point-source  I will add new flag in scope of this issue. Just wait a bit.

[2021-10-06 07:51] point-source commented on #244
That's a good point that I had not considered. I'll take a look at that and see if that works. Thanks!

[2021-10-06 16:19] Vovanella95 commented on #244
@lucasdidur  @point-source Please use 2.2.1 version and split_models option. Hope it will be helpful

[2021-10-06 16:52] point-source commented on #244
Wow that was fast 🤯

Will check it out. Thanks!

[2021-10-14 15:33] jfkominsky opened #263 "[BUG] I'm seeing if I can generate null-safe Dart code from this (extremely large and complex) swagger spec"
**Describe the bug**
I'm seeing if I can generate null-safe Dart code from this (extremely large and complex) swagger spec: https://developer.sagebridge.org/swagger-ui/index.html

If I only generate the models, it works great, but there's an issue when it tries to generate the chopper files. It seems like it fails to complete altogether, and doesn't even get as far as making the models. Here's the

[2021-10-15 04:27] jtzell opened #264 "[BUG] Duplicate enum key when generating enum values with sign"
**Describe the bug**
When the enum values different from each other by only sign characters (the "+" or  "-"), the generator build code with duplicate enum definition.

**To Reproduce**
1./ Swagger file with following enum fields:

2./ Running build will generated ".enums.swagger"  with duplicate definition as follow:

**Expected behavior**
The generator should taking into account the sign charact

[2021-10-15 07:45] Vovanella95 commented on #264
Hi @jtzell , I will take a look to this. Thanks for raising issue

[2021-10-16 04:55] masseelch opened #265 "[BUG] No request body types are generated"
**Describe the bug**
No `BodyType`s are generated or of the `requestBody. `Object` is used on every `POST` / `PATCH`.

**To Reproduce**
Use [this openapi.json](https://github.com/masseelch/elk/blob/a1191f864b40829c114bc3728f53f0686fb0f909/internal/fridge/ent/openapi.json) and run the generator.

**Expected behavior**
The spec defines a `requestBody`. The generated code creates a type for the body.

[2021-10-16 05:33] masseelch opened #266 "[BUG] Patch routes are not generated."
**Describe the bug**
When the spec contains a route with PATCH verb no route is generated.

**To Reproduce**
Take [this file](https://github.com/masseelch/elk/blob/a1191f864b40829c114bc3728f53f0686fb0f909/internal/fridge/ent/openapi.json) and generate the code. Patch routes are missing.

**Expected behavior**
Patch routes are generated.

**Library version used:**
[code]

[2021-10-20 12:22] Vovanella95 commented on #265
Hi @masseelch ,

I will check it today or tomorrow.

[2021-10-21 06:58] Miiel opened #268 "[QUESTION] int values for enums"
I'm working with an API that returns integer values for enums instead of their String names. So instead of:

[code]

I would need this to be generated:
[code]

Is this possible with this package?

[2021-10-29 18:09] dJani97 opened #269 "[BUG] Problem with underscore (_) in form field names"
**Describe the bug**
When generating formData requests, the generator doesn't handle underscore (`_`) in form field names well.

**To Reproduce**
I have the following request in our API definition:

[code]

When generating the client, the output is the following Dart code:
[code]

As you can see, the field `password_confirmation` appears as camel case in the code. This does not get processed by th

[2021-11-02 08:02] #138 closed

[2021-11-02 08:02] #269 closed

[2021-11-02 15:51] Vovanella95 commented on #265
Hi @masseelch  Sorry I was sick and did not checked your issue. Will get is as soon as possible

[2021-11-03 06:54] fryette commented on #214
can be closed

[2021-11-03 06:54] #214 closed

[2021-11-04 15:53] Vovanella95 commented on #265
Hi @masseelch ,

Indeed we did not generated requestBodies injected into requests. I've added this functionality, but there are some bugs. I will fix it soon, anyway Your file generating without issues.

So you can use version/2.2.5 branch in your pubspec.yaml to generate all you need.

[2021-11-04 15:54] masseelch commented on #265
Hey @Vovanella95, thank you for the quick fix. I will have a look at the branch next week and let you know!

[2021-11-05 07:26] Vovanella95 commented on #265
@masseelch  I hope next weak It will be in pub.dev :)

[2021-11-06 06:11] Mause opened #272 "[BUG] Does not work on systems that use a backward slash as a path separator (eg, windows)"
**Describe the bug**
A number of locations in the code use string interpolation instead of system-agnostic path joining.

**To Reproduce**
Generate any swagger specs on windows

**Expected behaviour**
Files are generated

**Library version used:**
2.2.4

**Additional context**
I am using Windows 10, 20H2

[2021-11-08 05:11] Mause commented on #272
Attempting this in https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/pull/273

[2021-11-09 11:26] fphilip opened #274 "[QUESTION] name convention upgrading swagger_dart_code_generator"
Hi, when upgrade flutter version and swagger_dart_code_generator version to 2.2.4 i have found that the names of the methods change. I have a way to configure it?
![image](https://user-images.githubusercontent.com/2574152/140915835-22bdb125-61b7-4a6c-9a97-19cdc587973b.png)

![image](https://user-images.githubusercontent.com/2574152/140915113-a667b19f-26fc-4941-81c2-631eb75a466e.png)

[2021-11-09 11:36] fryette commented on #274
Hi!

Because sometimes we have to deal with the same method names, that is why we introduced unique naming (actually it is constructed from URL, which is unique).

I'm sorry for such breaking changes.

If you have further questions feel free to reopen the issue

[2021-11-09 11:36] #274 closed

[2021-11-09 15:07] fphilip commented on #274
Can we think of a behavior property that allows us to configure operation id vs url + method?

[2021-11-09 15:33] fphilip opened #275 "Can we think of a behavior property that allows us to configure operation id vs url + method?"
Can we think of a behavior property that allows us to configure operation id vs url + method?

more than 300 test to migrate

_Originally posted by @fphilip in https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/274#issuecomment-964238298_

[2021-11-09 17:38] fryette commented on #274
@fphilip as swagger documentation saying

So we cannot rely on an optional string to satisfy all customers

We migrated more than 2K tests in 3 hours.

I'm really really sorry about additional efforts, we really trying to avoid such things as much as possible

[2021-11-10 07:41] Vovanella95 commented on #275
Hi @fphilip , it's possible, we removed it when totally rewrited requests generator. Make sense to return this functionality back. I will think about it, but I need weak or two for this.

[2021-11-11 09:08] fphilip commented on #275
do have "donate" button?

[2021-11-12 07:01] Vovanella95 commented on #275
Hi @fphilip , no :)

[2021-11-12 08:12] Vovanella95 commented on #275
@fphilip  Feel free to use 2.2.5 version

[2021-11-12 08:13] Vovanella95 commented on #265
@masseelch  feel free to use 2.2.5 version. Let us know of there are any issues.

[2021-11-12 08:14] masseelch commented on #265
Hey @Vovanella95, I was sick the whole week and had no time to test. I still will do so and provide feedback. Sorry for the delay.

[2021-11-12 08:23] Vovanella95 commented on #265
@masseelch  it's not a problem :)

[2021-11-12 08:25] #265 closed

[2021-11-12 08:25] #275 closed

[2021-11-13 09:04] RoarGronmo opened #277 ""You have hit a bug in build runner""
**Describe the bug**
ran: `flutter pub run build_runner --delete-conflicting-outputs`

with swagger contents in
`c:\flutterprojects\m_work_sandbox_4_2\swaggers\m_work_api.swagger`

with following configs (see pubspec.yaml.txt):
[pubspec.yaml.txt](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/files/7531670/pubspec.yaml.txt)

and following swagger file( see m_work_api.swagge

[2021-11-13 17:15] JanSteffes commented on #277
I've hit the same error. i got one more line that at least describes the error a little more:

[code]

with build.yaml:
[code]

I've found nothing regarding $package$ for the build.yaml :\

[2021-11-13 17:39] JanSteffes commented on #277
After a little digging the error happens at the .first
`result[normal(filesList.first.path)]!.add(join(out, _indexFileName));`

and should therefore indicate that
[code]

didn't find any files.

After changin the options "input_folder to "swaggers/"  it seems to workand code was generated.

@RoarGronmo i suggest make sure your swagger file is in the lib folder or change the input_folder to the one

[2021-11-13 21:17] RoarGronmo commented on #277
My swagger file is in the swaggers directory.

Convering yaml to json seems far odd though..., but swagger to json is plausible.

I have seen other complain about differences between foreslash or backslash in directories (windows vs linux/ios), the error may reside there...
I am in win10.

I'll check that lateron...

[2021-11-14 09:38] RoarGronmo commented on #277
Changed to backslash, and the error disappeared, but no code generated :(

Do anyone have a git for an example that works ?

[2021-11-14 13:55] fryette commented on #277
Please check is it working for you with our example?

[2021-11-14 16:48] RoarGronmo commented on #277
Actually tried to clone the example repo, but couldn't get i to work properly.

So I will create a brand new one, create a swaggers directory (as suggested in the short example description here https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/blob/master/example/README.md)

and implement the configuratuibs.

I will then try to change the foreslashes in the `sources:` section

[2021-11-14 17:11] RoarGronmo commented on #277
Just checking out your example to be sure if I missed something: The `build.yaml` file was complaining like this:

![image](https://user-images.githubusercontent.com/11217296/141690988-ec3bfc5f-9c99-49bd-914f-562c366944ee.png)

Is there some setting I have missed out here ?

[2021-11-14 18:56] RoarGronmo commented on #277
Anyhow, fiddling along and had created a quite simple project from an ordinary Flutter template in Android Studio 2020.3.1.16
You can reach it here (it should be public): https://github.com/RoarGronmo/m_work_swagger_test_2

Please see readme.md (https://github.com/RoarGronmo/m_work_swagger_test_2/blob/master/README.md), there is my creation process (nearly as I followed the described section here:

[2021-11-14 18:59] RoarGronmo commented on #277
BTW: I moved the `targets:` section from `pubspec.yaml` to `build.yaml` as described in the receipe.

[2021-11-15 00:07] JanSteffes commented on #277
@RoarGronmo  my fix was to add $package$ to the build.yaml to the sources like

[code]

[2021-11-15 08:02] fryette commented on #277
@JanSteffes please retarget PR to our repo then we can merge it and check
Thanks!

Seems we really need to recheck examples and provide a more appropriate variant.

[2021-11-15 09:33] RoarGronmo commented on #277
Thanx for your contribution @JanSteffes !! It works now...! And yes @fryette, you should update the examples, 'cause this tool is very good.

Thanx both to reaching out to me in your off-hours !

[2021-11-15 10:13] JanSteffes commented on #277
@fryette the pr was solely for the example of @RoarGronmo to mroe accurately show the changes i made in his test project.
I don't think there'd be any value to submit it to your repo, sicne the `build.yaml` of that one works.
Most confussion was about that `sources` is not what both i and @RoarGronmo  believed it was, e.g. where the generator takes json/swagger files from, but the `input_folder `.

[2021-11-15 12:54] RoarGronmo commented on #277
I would also appreciate some result file use case examples. I.E. How to set up a properly example with

- get
- post
- patch
- headers / header
- delete

[2021-11-15 13:57] RoarGronmo opened #278 "Please make a full use case example."
To make it easier for "newbies" in Flutter to start using this library, you should make following use case scenario in pub.dev:

1. Create the dart files from .swagger files (this you have already done here).
2. Create a simple project using the files which has been created.
3. Spice it with scenarios like "accessTokens" in headers (which is often used).

[2021-11-16 12:04] #272 closed

[2021-11-19 12:25] Vovanella95 commented on #278
Hi @RoarGronmo , We had good example before, and then it was removed when re refactored project. I will add good example project soon.

[2021-11-19 13:25] #278 closed

[2021-11-19 13:43] Vovanella95 commented on #277
Hi @RoarGronmo ,

I have added example to example project. I used Pets Api from Swagger Editor. There are examples of Get, Post, Put requests. I hope it's enough.

Thanks guys for raising issues. Does this issue need any input ?

@JanSteffes @RoarGronmo ?

[2021-11-19 14:32] fryette commented on #148
Seems it's not valid.
In the future we will split response and request models then we manage nullable fields in the right way.
For request models, all fields will be empty because some of them can be filled in mediators.

[2021-11-19 14:32] #148 closed

[2021-11-19 14:52] #264 closed

[2021-11-29 08:43] Vovanella95 commented on #277
OK I'm closing an issue.

[2021-11-29 08:43] #277 closed

[2021-11-29 08:44] Vovanella95 commented on #268
Hi @Miiel

I will check if it's possible to generate it like this. Actually it's good idea to generate int enums

[2021-11-30 12:29] zorji commented on #182
Hi @ened, I also would like the properties correctly reflect what is defined in the swagger, I'll start my initial attempt here https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/pull/282

However, I do have a question regards to `required=false` and `nullable=true`. I am not too sure what's the best data structure to represent this.

In Swagger `required=false` means a field i

[2021-12-01 09:43] masseelch commented on #265
I finally was able to work again. All works as expected. Thank you very much :-)

[2021-12-08 13:28] nkt1001 opened #283 "[BUG] enum class with name 'class' from model properties is created with different name"
**Describe the bug**
Swagger model contains enum property called 'class'. When generation complete *.swagger.dart file pointing to enums.SomeModel$Class but in *enums.swagger.dart created class SomeModelObject with corresponding values.

**To Reproduce**

**example_swagger.json:**

[code]

**example_swagger.swagger.dart:**

**example_swagger.enums.swagger.dart:**

[code]

**Expected behavior**
Equ

[2021-12-08 13:38] nkt1001 opened #284 "[FEATURE] Add YAML swagger files support"
**Describe the solution you'd like**
I would like to be able to work with swagger files in YAML format

[2021-12-09 13:31] fryette commented on #284
We also think that it would be great to support YAML files, that is why we are in process of rewriting some parts to be able to integrate more easily and finally switch completely from JSON to YAML.

[2021-12-10 07:57] Vovanella95 commented on #283
Hi @nkt1001

THanks for raising the issue. Will try to fix it!

[2021-12-14 08:27] RoarGronmo opened #285 "[BUG] Generated code handling records with more than 30 fields fails silently."
**Describe the bug**
After adding some fields to a (working) record, the generated code fails out of the blue. It fails silently with no error casting or reason. Code generation seems ok (no significant warnings or errors). I have pinpointed the failing reason in the swagger file to be when a record contains more than 30 fields, then the generated code will not return anything from that record.

*

[2021-12-14 08:56] RoarGronmo commented on #285
Or... it may be the fact the omitted field is an "int64" field ?

How is that handled in the generated code ?

[2021-12-14 09:08] Vovanella95 commented on #285
Hi @RoarGronmo

Will check it today

[2021-12-14 09:32] Vovanella95 commented on #285
@RoarGronmo  I have generated your 2 files and everything is OK with Ord object. noteHash field is generated.

[code]

Could you please explain what is problem here?

I see only problem with TextTp field. This integer has generated like class.

[2021-12-14 12:05] RoarGronmo commented on #285
Thanx for reaching back to me,

Have used some time to really dive into the code here and the json's which is read.

1. I am truly sorry that I have mislead you intially when I didn't saw more of the fail "picture"

2. The problem isn't the 30'th ot 31'th element read for that record, but actually that the swagger defines it like this
[code]
when my record is like this:

[code]

, after reworking

[2021-12-14 12:14] RoarGronmo commented on #285
And yes the TexTp field is failing, but that is a missing include, actually had a plan to report that too, but that one I got an intermediate manual solution for => include the missing library manually.

[2021-12-14 12:41] RoarGronmo commented on #285
Here's the point where code says it crashher (from `mwork_api.swagger.g.dart`)
[code]
And here's a typical json which the ` orderFirmsFrmNoOfficesR10WorkGet(...) ` reads:
[response.json.txt](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/files/7711670/response.json.txt)
(it is saved as a .txt file, it is a originally json)

and where it fails.

[2021-12-14 12:52] Vovanella95 commented on #285
Hi again @RoarGronmo TexTp is failing because of our bug :) We don't recognize it like Enum. Actually, it's enum with integer values.

To define swagger type we using next map:

[code]

If we want to recognize int128 as double we should just add it here.

[2021-12-14 12:54] Vovanella95 commented on #285
@RoarGronmo  int64 is parsing in integer. It can't be larger. Dart does not have 'long' type or something like this. We can parse it into double if it will help.

[2021-12-14 13:00] RoarGronmo commented on #285
Yes, that would be better, but the problem is when you parse it like that you might be in a missing information situation. At this particular case we have 64bit int hash, where I need the bits to be "in place" even if it is double... can you guarantee that when converting from int64 to double, and back ?

[2021-12-14 13:04] Vovanella95 commented on #285
@RoarGronmo  can you please provide example, what should we generate in this case? That will really help me

[2021-12-14 13:07] RoarGronmo commented on #285
The really best would I setting (or annotation somewhat) to parse it to byte array or int array, when you may surpass int64 or int128 boundaries, or even to a string.

[2021-12-14 13:14] RoarGronmo commented on #285
At the moment would it be best to convert it to a String, then you gurantee that you keep the information.

[2021-12-14 13:14] RoarGronmo commented on #285
With a setting

[2021-12-14 13:44] RoarGronmo commented on #285
My manual approach now is actually to read it as a `number` in the swagger file (need to actually change the swagger file manually from {"type":"integer", "format":"int64"} to {"type":"number"}), but that's a known risk that I may loose information if the number is large enough...

[2021-12-14 13:57] RoarGronmo commented on #285
So a setting/annotation so I can convert from and two different interchangeable types would have been very nice.

[2021-12-14 14:24] malksbier opened #286 "[BUG] / [inconvenience]"
**Describe the bug**

[SEVERE] swagger_dart_code_generator:swagger_dart_code_generator on lib/swagger/test.json (cached):
type 'String' is not a subtype of type 'int' of 'index'

at the end of completion the gennerator fails.
Without any description of where the Swagger generated Json is wrong I cant find a solution. Logicly everything seems fine.

**To Reproduce**
I am not allowed to post our dat

[2021-12-14 14:45] Vovanella95 commented on #285
@RoarGronmo  actually your number is bigger than

15479906050049593000

max value of int64 is
9223372036854775807

is it possible to return String from backend?

[2021-12-14 14:46] Vovanella95 commented on #285
We can parse it in double. I think it will help.

[2021-12-14 15:55] Vovanella95 commented on #285
@RoarGronmo  I have fixed your swagger in PR above. I generate int64 values to double fields. Is it fine? Also I've fixed issue with enum. You not need any imports to compile your file.

Please check v2.2.8

[2021-12-14 19:24] RoarGronmo commented on #285
Thanx a lot, I'll give it a try, early tomorrow, or later this evening.

[2021-12-15 09:28] RoarGronmo commented on #285
Observing that somehow the swagger `int64` is still converted to dart `int` with 2.2.8, so that particular case is not fixed.

(Another approach is defining it as a dart `num`, but here you might run upon the fractional (double) hiding or obscuring information. Look here: https://dart.dev/guides/language/numbers. In a information preservation perspective, you should convert it to a String... )

Th

[2021-12-15 10:10] Vovanella95 commented on #285
Hi @RoarGronmo  Oh no :D Everything worked on my side) Will try to parse int64 to num. Give me few minutes

[2021-12-15 11:31] Vovanella95 commented on #285
@RoarGronmo Please check 2.2.9 version ))

[2021-12-15 14:19] RoarGronmo commented on #285
Ill do soon !!

BTW: We have had an intense internally discussion with our backend team, and found a strange issue (not related to you directly but more on how Flutter / Chrome handles 64bit data sets).

![image](https://user-images.githubusercontent.com/11217296/146201112-af2d0af5-121a-4f0c-a54e-49b315267705.png)

This may explain the cause where int64 values got overflow, and even Flutter DevToo

[2021-12-15 14:28] RoarGronmo commented on #285
Here's the reference to why 000 may be added to int64:
https://developer.twitter.com/en/docs/twitter-ids

[2021-12-15 15:02] RoarGronmo commented on #285
swagger `int64` do still land in dart `int` ... in 2.2.9...

![image](https://user-images.githubusercontent.com/11217296/146210266-079ffe15-c981-4772-bfe3-fdce30a3ced9.png)

![image](https://user-images.githubusercontent.com/11217296/146210390-fdb76187-9e55-4ac0-a3d6-57247ae9d043.png)

![image](https://user-images.githubusercontent.com/11217296/146210514-efacbaf8-b0b4-43aa-8d8d-55243b0d1dbf.png)

[2021-12-15 15:22] Vovanella95 commented on #285
Ahh yes. I fixed int64 in request parameters. Still need to fix model parameters

[2021-12-16 12:03] Vovanella95 commented on #285
@RoarGronmo  I've fixed it. Please check 2.2.10 version. Please let me know if everything OK.

[code]

[2021-12-16 12:05] Vovanella95 commented on #286
Hi @malksbier

Please provide more data, swagger file (or part of it) or more details. I can't see full image of problem.

[2021-12-17 09:42] RoarGronmo commented on #285
...at least... it is translated as a num, and then it is up tp Dart to decide if 64 bits are preserved or not...

![image](https://user-images.githubusercontent.com/11217296/146523922-8d717dcd-c775-416a-9df5-49bdde91c535.png)

happy result:

![image](https://user-images.githubusercontent.com/11217296/146523651-5c94188d-f9e8-45b8-a083-4386eaaaec6f.png)

[2021-12-17 10:26] RoarGronmo commented on #285
But anyhow, I can't blame you for the result here then, the trouble is how Dart is handling num, mostly because they translate it to double and back, and there we have the information preservation situation loss...

and maybe a BIG issue for Dart ?

![image](https://user-images.githubusercontent.com/11217296/146529486-166d4b68-233b-446c-b627-ba14410cc67d.png)

As I said prior here, you could have

[2021-12-17 10:50] Vovanella95 commented on #285
Hi @RoarGronmo
I am closing an issue. If there is any way how can we generate it - please let me know. I am closing issue for now.

[2021-12-17 10:50] #285 closed

[2021-12-17 10:52] RoarGronmo commented on #285
PS:
BTW!!

The above was from web version of the app , this below is from native test:
![image](https://user-images.githubusercontent.com/11217296/146533672-73bf8fab-dc24-4f20-ab45-81a39ec882a3.png)

At least here it is read correctly, so there might be some hope... (53 bit problem in web ?).

[2021-12-18 15:20] RoarGronmo opened #289 "swagger `int32` array is recognized as Dart `dynamic` if present directly from `body` in swagger file."
**Describe the bug**
Swagger file with this section:
[code]

are recognized as `dynamic` not i.e. `List<int>`

BTW: You can recognize and remedy like this:
[code]
...but it should already have been recognized as `List<int>`.

Code generated in : `*.swagger.dart`

[code]

Code generated in: `*.swagger.chopper.dart`
[code]
Here I Expected not `Future<Response<dynamic>>` to be returned, but `Future<R

[2021-12-20 07:28] Vovanella95 commented on #289
Hi @RoarGronmo
thanks for raising and issue. Will try to check it soon!

[2021-12-21 13:14] fpolowood opened #290 "Support apiKey[FEATURE]"
My API requires an apiKey to be sent with almost every call, swagger supports it via the:

[code]
and all the calls have it as:

[code]

When generating the code with the swagger tools, it allows me to pass the parameters for auth to the api_client instance and then they get injected into any of the calls that require it (in dart and js, haven't checked others).

An easy fix for me was to pass the

[2021-12-21 13:53] Vovanella95 commented on #290
Hi @fpolowood
Sounds like cool feature! I will try to implement it soon!

[2021-12-21 13:59] Vovanella95 commented on #290
@fpolowood

Could you please provide real swagger file with such definition and expected generated file? What if some request doesn't have  "security": [{"api_key":[]}]?

[2021-12-21 16:57] fpolowood commented on #290
[code]

[2021-12-22 08:23] Vovanella95 commented on #290
@fpolowood  what should be generated for requests without [{"api_key":[]}]? If we add an interceptor - this header will be applied to all requests.

[2021-12-22 11:21] Vovanella95 commented on #289
Hi @RoarGronmo  please check 2.3.0 version

[2021-12-22 12:08] #289 closed

[2021-12-22 12:29] Vovanella95 commented on #290
@fpolowood  OK let me implement it and see, what happens

[2021-12-22 12:46] fpolowood commented on #290
Even if you are unable to implement all the use cases.. this diagram should give you an idea of the flow
![image](https://user-images.githubusercontent.com/9532726/147094889-c6a2b59f-a70a-46de-8d2d-a149d93d2b8e.png)

[2021-12-22 14:02] RoarGronmo opened #291 "2.3.0 causes build warnings with no explanation"
**Describe the bug**
Getting warnings like this: `swagger_code_generation:swagger_dart_code_generation on swaggers/mwork_api.swagger:[Frm]` on all generated types. The warning does not tell what the problem might be...

**To Reproduce**
Build with this `swagger` file on `2.3.0`

[swagger.json.txt](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/files/7763033/swagger.json.txt

[2021-12-22 14:13] fryette commented on #291
Is it possible to share swagger file?

[2021-12-22 14:47] RoarGronmo commented on #291
The swagger file is included above (linked as 'swagger.json.txt') it is renamed to .txt since github doesn't accept files ending with .swagger.

[2021-12-23 09:14] #291 closed

[2021-12-23 09:15] Vovanella95 commented on #291
@RoarGronmo  Fixed in 2.3.1, I forgot to remove prints in generator :D

[2021-12-24 12:32] Vovanella95 commented on #290
Hi @fpolowood I've implemented this in 2.3.2 version. Please check and let us know is everything OK

[2021-12-24 12:36] #290 closed

[2021-12-28 17:05] rcloss opened #294 "doesn't seem to be generating all enums"
When I generate the generated code my <redacted>.swagger.enums.dart doesn't seem to contain all the enum types, I've attached a snippet of a schema and it's generated the enums for postType and conversationType, but it's not generating them for the nested payload->type enum.

So when it tries to declare the following

`final enums.GetPostResponseConversationMessagesItem$PayloadType? type;` it fail

[2021-12-29 08:41] fryette commented on #294
Hi!
Now most of us are on vacation.
We will take a look at it in 1 or 2 weeks, thanks!

[2022-01-03 18:09] dJani97 opened #295 "[BUG] additionalProperties key from schema is not handled correctly"
**Describe the bug**
Using "additionalProperties" in a definition causes the generated field to be of type `Object`.

**To Reproduce**
The swagger json can be found in this [example on swaggerhub](https://app.swaggerhub.com/apis/jani7/Demo/1.0).

Running `swagger-dart-code-generator` on this json results in the `ExampleDTO` having a generic `Object? examples` field instead of `Map<String, List<Emb

[2022-01-05 13:56] malksbier commented on #286
Hey, @Vovanella95
here is my .swagger file

`{
  "openapi": "3.0.1",
  "info": {
    "title": "ASPNetCoreTEWeb",
    "version": "1.0"
  },
  "paths": {
    "/api/Authorization": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Authorization/token": {

[2022-01-05 17:34] fncap opened #296 "[QUESTION] Can `Object` properties should mapped into `Map<>`?"
**Please describe a problem.**
Cannot retrieve values from _Dictionary like_ properties, as per generated `Object?` type instead
**Describe the solution you'd like**
Some times, data returned from WebApi, has form of Dictionary like structures.
Swagger recognise them as a generic `object` type, and your tool do the same, generating `Object?` typed properties.
Instead of that, should be better if t

[2022-01-06 01:02] point-source opened #297 "[BUG] Generates non-working code on versions 2.2.3+"
**Describe the bug**
Starting in 2.2.3, some overrides are failing due to a type mismatch.

**To Reproduce**
Here is the swagger code: https://github.com/point-source/dart_plaid/blob/main/swagger/plaid_service.swagger
Error:
[code]

**Library version used:**
2.2.3 up to 2.3.2

**Additional context**
Feel free to [clone this repo](https://github.com/point-source/dart_plaid), update the swagger libr

[2022-01-06 17:44] fryette commented on #297
Yes, seems problem with the prefix enum.
For now, seems we should be able to drop it completely.

New version will be released on Monday

[2022-01-06 17:46] fryette commented on #296
But why you cannot transform `Object?` to `Map<String, dynamic>` ?

[2022-01-06 17:49] fryette commented on #295
I think that feature can be quite easily implemented.

We will add it to our roadmap and will try to deliver it this month.

Documentation: https://swagger.io/docs/specification/data-models/dictionaries/

[2022-01-06 17:50] fryette commented on #294
@rcloss could you please share a full snippet of the swagger?

[2022-01-07 01:28] fncap commented on #296
Yes! And this is exactly what I did!
But, for me that I'm new with Dart, it was not clear that could safely cast an Object to a Map<string, dynamic> type!
Thanks for your time!

[2022-01-07 08:17] fryette commented on #296
@fncap anyway we will try to fix it(check related issue) to provide the best experience with the library.

Thanks and have a good weekends!

[2022-01-08 17:45] jonasanker opened #299 "Discord invitation link has expired"
Hi 👋🏻

Thanks for a great product. It seems that the Discord invite link has expired

Discord invitation link listed in [README.md](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/blob/ff7470a081e5983a55f9a9a69f76ff09d051c89d/README.md?plain=1#L13)

<img width="442" alt="image" src="https://user-images.githubusercontent.com/25930103/148654193-c3296778-647c-4758-ab63-7e960a91

[2022-01-08 19:26] #299 closed

[2022-01-10 07:56] Vovanella95 commented on #297
Hi @point-source
I was on VAC, will fix this issue soon.

[2022-01-10 10:04] fryette commented on #295
So, we double-checked this issue and seems **Expected** result is not achievable.
If a property has `additional properties` it means that it's a dictionary.
For example:

[code]

We are going to change generated field from `Object` to `Map<String, dynamic>` and let users parse it as they want.

[2022-01-10 11:41] Vovanella95 commented on #297
@point-source  Fixed in latest version

[2022-01-10 11:41] #297 closed

[2022-01-11 12:07] Vovanella95 commented on #268
Hi @Miiel

Please check latest version. Let us know in case of any issues

[2022-01-11 12:11] #268 closed

[2022-01-11 12:13] mikedigit opened #305 "[BUG] Generation fails for a list of enum"
In my swagger file I have enums, one of them named `CRMAPIPortfolioControllersDtoConsentStatusEnum` which maps correctly if used alone but won't if in a List of enum.
To illustrate what I'm saying here is an extract of my *.swagger.dart which creates a chopper call with following signature:

Future<chopper.Response<CRMDomainReadModelsProfilesPagedDataResult1CRMInfrastructureElasticSearchReadModels

[2022-01-11 12:32] Vovanella95 commented on #305
Hi @mikedigit

Thanks for raising issue. I will check it.

[2022-01-12 10:12] fncap opened #307 "[BUG] int enum generates "anonymous" labels"
Take a look on the following spec

[code]

this produce following Dart

[code]

What I'm expecting is an `enum` generated with same labels that are listed in `x-enumNames` spec's field, instead of `value_1`, `value_2` and `value_3`!

Isn't it?

[2022-01-12 14:19] Vovanella95 commented on #307
Hi @fncap , thanks for raising issue. Actually, it's not a bug and looks like cool feature. I will try to take a look on it

[2022-01-12 15:10] Vovanella95 commented on #305
Hi again @mikedigit !

Could you please share swagger file (or part of it) with this problem?

[2022-01-12 15:40] Vovanella95 commented on #305
@mikedigit  sure. vovanella95@mail.ru

Also you can share only part of swagger file to avoid privacy issues

[2022-01-12 15:46] Vovanella95 commented on #263
Hi @jfkominsky
Sorry for long ignoring. Started looking into your issue. Fixed partially for now. Hope it will be fixed tomorrow

[2022-01-12 15:53] Vovanella95 commented on #263
@jfkominsky  Only to generate special enums for requests left :)

[2022-01-13 09:15] #263 closed

[2022-01-13 09:18] Vovanella95 commented on #296
Hi @fncap

We investigated this issue. We can't map Object properties to `Map<String, String>`, because `metadata` can has properties + additional properties. So mapping to Map<String, any concrete type> is not possible.

The only one way is to map it to Map<String, dynamic>. Is it fine?

[2022-01-13 09:22] fryette commented on #307
Link with all possibilities of annotation enums:
https://stackoverflow.com/questions/66465888/how-to-define-enum-mapping-in-openapi

[2022-01-14 06:53] ATeteryatnikov opened #311 "[BUG] Generation fails for "discriminatorType" element in my swagger file"
if swagger json file has "discriminatorType" element then an error occurs:
"type 'String' is not a subtype of type 'Map<String, dynamic>' in type cast"

**To Reproduce**
part of my model for example:

`"V1ListArticle": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRecord"
        },
        {
          "type": "object",
          "properties": {
            "articleRank": {

[2022-01-14 08:02] fncap commented on #296
Yes you are right, generating a 'Map<string,dynamic>' should be fine!

[2022-01-14 08:31] Vovanella95 commented on #311
Hi @ATeteryatnikov ,

I have fixed generation error you've described. The only thing - discriminatorType: '#/definitions/V1ListArticle' will not be generated like final V1ListArticle discriminatorType because it's not valid swagger. You can put in into [Swagger editor](https://editor.swagger.io/) and check.

There are 2 problems:

Semantic error at definitions.V1ListArticle.allOf.0.$ref
$refs must

[2022-01-14 08:44] #311 closed

[2022-01-14 09:55] alextarrago opened #313 "[BUG] Array in spec is not being generated as expected"
Take a look on this spec.

[code]

It generates the following Dart classes (shortened for displaying purposes)
[code]

No array is created for the Services object.

[2022-01-14 12:44] #305 closed

[2022-01-14 12:45] Vovanella95 commented on #305
@mikedigit I've fixed your file in latest version (2.3.7+). Please let us know if something wrong

[2022-01-14 12:45] Vovanella95 commented on #305
@mikedigit I've fixed your file in latest version (2.3.7+). Please let us know if something wrong

[2022-01-14 12:54] mikedigit commented on #305
works like a charm thanks !

[2022-01-14 14:08] Vovanella95 commented on #296
Hi @fncap

Added generation of Map<String, dynamic>? for such fields

[2022-01-14 14:18] #295 closed

[2022-01-15 15:04] fncap opened #316 "[FEATURE] Allow specify SWAGGER spec's file from url, to support local development"
Actually, the generator accepts a folder within it searches for all swagger specs files.
This behavior fits very well for a 3rdy party WebAPI.
In the scenario, where the WebAPI layer is parallel developed with the app, it could be annoying to copy/paste our swagger file to that folder!
Instead, should be a big improvement if the generator could download it from an URL!

Please take a look at the f

[2022-01-18 10:34] alextarrago commented on #313
Any news on this? @fryette

[2022-01-18 12:06] Vovanella95 commented on #313
Hi @alextarrago  I did not checked this issue yet. Will try to do this this week

[2022-01-19 09:24] Platton96 opened #317 "[FEATURE] enums in requests"
Sometimes few requests have the same enum parameters in requests. we need to do a lot of mappings.  Could you create  one enum? (vodService)
<img width="1085" alt="Screen Shot 2022-01-19 at 12 22 02 PM" src="https://user-images.githubusercontent.com/28807849/150101327-22dcc9cc-46bb-446d-9f7c-e890b9fbc6b5.png">

[2022-01-19 11:39] #313 closed

[2022-01-19 11:40] Vovanella95 commented on #313
Hi @alextarrago  please check latest version 2.3.9

[2022-01-19 12:03] alextarrago commented on #313
Amazing @Vovanella95 . Thanks for the fast fix!

[2022-01-19 12:33] Vovanella95 commented on #286
Hi @malksbier I've tried to generate your file and everything generated without issues. Could you please check it on latest version? Or provide more details.

[2022-01-21 07:47] ATeteryatnikov opened #319 "[FEATURE] Get opportunity deserialize bool value type from "1" or "0'"
My server mark the property like boolean and the generated swagger file was created with boolean type. In fact server send 1/0 value and deserialization fails. I don't have opportunity for fix it on server side.

I look on another plugins from openapi:
https://github.com/OpenAPITools/openapi-generator/tree/master/docs/generators
(openapi not work for me because it not support nullsafety feature)

[2022-01-21 07:58] Vovanella95 commented on #319
Hi @ATeteryatnikov ,
It's interesting feature.

It's correct that field defined as bool in yaml, but in fact there are integer values?

[2022-01-21 08:15] ATeteryatnikov commented on #319
@Vovanella95
Yes. Generally is correct. But I use json.
It's look like:
[code]
In fact server send integer values (1 or 0)
[code]

[2022-01-21 09:47] Vovanella95 commented on #319
@ATeteryatnikov  I will try to check it next week

[2022-01-21 17:42] fryette commented on #319
@ATeteryatnikov We are going to support only official documentation from swagger. If in swagger you see boolean than boolean should be returned.

You have two options
1) Define custom response(check Readme) and deserialize it
2) Fix the swagger file.

[2022-01-21 17:42] #319 closed

[2022-01-23 22:04] alextarrago opened #320 "[BUG] Support for deepObject for query parameters"
Support for deepObject notation for query parameters.

This spec does not generate the expected behaviour.

[code]

[code]

Intercepting the parameters in the client interceptor gives us the following code:

`{q: Instance of 'ServiceCategoryCriteria'}`

Some guidance on here? :)

[2022-01-25 13:12] alextarrago commented on #320
Hi @Vovanella95, thanks for the fast reply!
How can I share the yaml file to you, privately?

Thanks.

[2022-01-25 13:14] Vovanella95 commented on #320
@alextarrago  sure, vovanella95@mail.ru

[2022-01-25 13:26] Vovanella95 commented on #320
@alextarrago  OK I have generated your example. I have request with parameter ServiceCategoryCriteria. What is the issue?

`/service/categories` method is generated, it has parameter named q and type `ServiceCategoryCriteria`

[2022-01-25 17:56] IdrisQashan opened #321 "Can I replace the chopper with the Freezed"
Can I replace the chopper with the Freezed

[2022-01-25 19:39] boriszv opened #322 "Why does the use_inheritance option not apply inheritance?"
**Please describe a problem.**
I have a swagger definition heavily dependent on inheritance in different models. However when setting `use_inheritance` to `true` in `build.yaml` inheritance is not applied to models.

According to [this](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/blob/e4b156b2f02a98ab6684021fd99e1dd2e2ac923c/CHANGELOG.md#233) changelog `use_inheritance`

[2022-01-26 07:37] Vovanella95 commented on #321
Hi, unfortunately this is not possible at this moment. To support `Freezed` we should generate totally new annotations for models and generate models in different way. We not plat to support it at this moment, sorry.

[2022-01-26 07:37] #321 closed

[2022-01-26 07:41] Vovanella95 commented on #322
Hi @boriszv
Actually, nice catch. We removed this option from generator because swagger supports cases, when class A extends B and B extends A. So we decided just to copy-paste all fields from base class.

I will create PR to update Readme.

[2022-01-26 07:42] Vovanella95 commented on #322
@boriszv  Do you have any issues with inheritance?

[2022-01-26 07:49] #322 closed

[2022-01-26 09:02] boriszv commented on #322
@Vovanella95

Actually, yes

My swagger spec looks something like this:
[code]

And when I generate the client `EntityNameForCreateDto` doesn't have any fields due to no inheritance or copying of fields being applied

[code]

Also could you please clarify one thing for me. Is copying of fields that you suggested here and in the changelog, done by the library, or is it something that should be done

[2022-01-26 10:46] Vovanella95 commented on #322
@boriszv  OK I reopened issue and will check it

[2022-01-26 11:30] fryette commented on #294
Closed as no customer response.

[2022-01-26 11:30] #294 closed

[2022-01-26 11:31] fryette commented on #133
Closed, seems now it's working correctly.

[2022-01-26 11:31] #133 closed

[2022-01-26 17:55] mohachouch opened #324 "[BUG] Required values is nullable"
Thank you very much for this library

**Describe the bug**
Required value in swager file is nullable when generating.

**To Reproduce**
 "BrowserInfoPostDto": {
        "required": [
          "acceptHeader",
          "colorDepth",
          "javaEnabled",
          "javascriptEnabled",
          "language",
          "timeZoneOffset",
          "userAgent"
        ],
        "type": "object",

[2022-01-27 07:08] Vovanella95 commented on #324
Hi @mohachouch

It's expected behaviour for this moment. We generating all required fields nullable. It's needed to have ability to use these models as request parameters, because (at least on our project) we should not send required fields sometimes.

I already have idea how to fix. We will generate separate models for Responses, and such models will have not-nullable fields

[2022-01-27 09:24] mohachouch commented on #324
Thank you very much for your response and this wonderful work

[2022-01-28 16:07] fryette commented on #324
I would suggest keeping it open to not forget fix it when we move to non nullable

[2022-01-29 09:26] AcePariaci opened #328 "[BUG]getting error in generate file swagger.dart"
Hello,
When i run your exemple everything is fine (thanks for this lib btw :) )
But with my own swagger file, i got an error in the generated my_app.swagger.dart in the JsonConverter initialisation :
``The argument type 'Map<Type, Object Function(Map<String, dynamic>)>' can't be assigned to the parameter type 'Map<Type, dynamic Function(Map<String, dynamic>)>'.``

Can figure out what's missing...

[2022-01-29 09:27] AcePariaci commented on #328
`{
	"swagger": "2.0",
	"basePath": "/",
	"schemes": [
		"https",
		"http"
	],
	"paths": {
		"/natoly/collections/": {
			"post": {
				"responses": {
					"200": {
						"description": "Success"
					}
				},
				"operationId": "Create a new collection",
				"consumes": [
					"application/json",
					"application/xml"
				],
				"produces": [
					"application/xml",
					"application/json"
				],

[2022-01-30 10:17] michalsrutek opened #329 "[BUG] Object is not typed correctly when using allOf."
**Describe the bug**
Object is not typed correctly when using allOf.

**To Reproduce**

Let's say I have the following swagger.

[code]

This produces the following code.

[code]

Note that the `customer` property is not typed.

**Expected behavior**

I expect the `customer` property to be typed, as shown below.

[code]

**Swagger specification link**
[Link to swagger/OpenApi documentation](https:

[2022-01-31 07:18] Vovanella95 commented on #328
Hi @AcePariaci
This looks like critical issue. I will check it today

[2022-01-31 08:43] AcePariaci commented on #328
Thx @Vovanella95 :)

[2022-01-31 09:06] Vovanella95 commented on #328
@AcePariaci  please enjoy 2.3.11 version!

[2022-01-31 09:07] #328 closed

[2022-01-31 12:26] Vovanella95 commented on #329
Hi @michalsrutek

Thanks for raising issue. I will fix your issue, but pay attention, that actually, customer is not Customer. If 'allOf' has not only ref, but additional properties - we should create special class, contains all fields of Customer + all properties, mentioned in it.

So generator will generate Customer when there are no properties inside of allOf, and dynamic in cases, when you add

[2022-01-31 12:34] michalsrutek opened #331 "[BUG] Nested arrays are not generated correctly."
**Describe the bug**
If I try to use nested arrays, the generated result is incorrect and even invalid Dart code.

**To Reproduce**
Let's say I have the following Swagger.

[code]

Which in turn produces the following `ChopperApi`.

[code]

Notice the response type - `List<Array>` - which is not valid Dart code.

**Expected behavior**
I would expect the response to be of type `List<List<User>>`.

[2022-01-31 14:04] Vovanella95 commented on #329
@michalsrutek  enjoy 2.3.12 version :)

[2022-01-31 14:10] michalsrutek commented on #329
@Vovanella95 Perfect. Thank you for your amazing work! 👍

[2022-01-31 14:10] #329 closed

[2022-01-31 15:24] #331 closed

[2022-02-01 12:55] fncap commented on #316
Any updates?

[2022-02-01 13:18] Vovanella95 commented on #316
Hi @fncap
Unfortunately no updated for now. I will try to investigate this thing this week.

[2022-02-01 17:51] fncap commented on #316
Many thanks! I'll give it a try and report back!!!

[2022-02-01 21:43] jonasanker opened #335 "[BUG] Enum type is not serialized using its toJson method"
**Describe the bug**
When calling an API call with a request class that has an enum type property, a `NoSuchMethodError` is thrown as no `toJson` method was found for the enum type.

It could seem that the generated models code are not using the appropriate `enumClassnameToJson()` method when serializing the enum value.

Error Message
[code]

Stacktrace
[code]

**To Reproduce**

Below code snippet

[2022-02-01 22:44] dJani97 opened #336 "[QUESTION] Should client_index.dart export models?"
### Please describe a problem.

I suppose the purpose of the `client_index.dart` file is that we'd only need to import this file when we want to use the generated code somewhere in our codebase.

This file only exports the generated ChopperService classes, for example mine looks simply like this:

    export 'openapi.swagger.dart' show Openapi;

But in other parts of my codebase I often find mysel

[2022-02-02 07:39] Vovanella95 commented on #336
Hi @dJani97  let me remember why we did this. I will answer you during the day

[2022-02-02 08:09] Vovanella95 commented on #335
Hi @jonasanker , actually good issue. Will try to fix it soon!

[2022-02-02 10:03] Vovanella95 commented on #336
Hi again @dJani97

We decided to use `show` in `client_index.dart` because some swaggers can have same class names. In this case we will have compilation error. So, from my perspective `client_index.dart` is not needed, because it's useless when we have one swagger file and it's useless when we have many swaggers, because there is risk of same class names.

I will remove `client_index.dart` genera

[2022-02-02 10:35] fryette opened #337 "[FEATURE] introduce built-in solution to automatically translate from YAML to JSON"
**Is your feature request related to a problem? Please describe.**
Until we start supporting YAML we need to provide a built-in solution to transform YAML-based swagger to JSON and then generate.

**Describe the solution you'd like**
For MAC OS we can use BREW.

[2022-02-02 10:38] dJani97 commented on #336
Hey @Vovanella95, thank you for the detailed answer!

Removing it would clear up some confusion too, as there is not need to pick from two different import suggestions. It seems to be the better option for me.

Although if someone relied on this import so far, their code will break. So maybe wait till the next major release?

[2022-02-02 10:42] Vovanella95 commented on #336
Ok, fine, I will leave client_index for you. So can we close the issue @dJani97 ?

[2022-02-02 10:44] dJani97 commented on #336
I didn't use it, I'm just assuming that someone else might have. No other questions, thank you!

[2022-02-02 11:57] Vovanella95 commented on #336
@dJani97  closing the issue then :)

[2022-02-02 11:57] #336 closed

[2022-02-02 12:28] Vovanella95 commented on #316
Hi again @fncap

Currently it's not nessessary to have main.dart file in lib folder. Just generate your code from anywhere to anywhere. I hope it will be released soon.

Please use `version/2.4.0-prerelease.1` branch to test it.

[2022-02-03 18:28] fncap commented on #316
Hi @Vovanella95 !
Just tried suggested branch, and it works like a charm!
Many thanks for your work!
This tool is a killer-time for me!!!

[2022-02-04 07:25] Vovanella95 commented on #316
@fncap  thanks for your feedback. Possible, will change this feature a bit soon. But don't worry it will be not critical changes

[2022-02-04 09:52] fryette opened #339 "[FEATURE] Migrate from Pedantic to Lints"
Need to migrate to the https://pub.dev/packages/lints from pedantic

[2022-02-10 07:52] dJani97 opened #340 "[FEATURE] implement toString for models"
**Is your feature request related to a problem? Please describe.**

A basic toString implementation on model classes would help with logging and debugging.

Currently toString is not overridden and `Instance of 'MyModel'` gets logged to the console.

**Describe the solution you'd like**

A basic toString implementation similar to what the IDE can generate, or even a simple call like `@override Str

[2022-02-10 08:17] Vovanella95 commented on #340
Hi @dJani97  actually good idea!

[2022-02-10 13:33] Vovanella95 commented on #340
Hi again @dJani97

Feel free to use [prerelease](https://pub.dev/packages/swagger_dart_code_generator/versions/2.4.0-prerelease.3) version

[2022-02-11 08:25] #307 closed

[2022-02-11 08:25] #316 closed

[2022-02-11 08:25] #339 closed

[2022-02-11 12:21] #340 closed

[2022-02-11 12:55] Vovanella95 commented on #335
Hi @jonasanker

`InitatePurchaseRequest.paymentType` is dynamic because it's `oneOf`. When you set dynamic field some value - it should be convertable to json. Enum is not convertable to json by default. So you need just use some String value instead of enum. Method `jsonEncode` is not working with enums.

Let me demonstrate an example:

`
void main() {
  final aa = jsonEncode(SomeClass('someThing

[2022-02-11 12:57] Vovanella95 commented on #335
@jonasanker  anyway if field not dynamic, but generated as enum - you can use Enum of course, because we add custom `toJson` methods to such fields. I'm closing the issue. Don't hesitate to contact us if something is not clear.

[2022-02-11 12:57] #335 closed

[2022-02-15 08:25] Vovanella95 commented on #320
@alextarrago  closing the issue due to no response. Please reopen it if it actual

[2022-02-15 08:25] #320 closed

[2022-02-15 09:21] #337 closed

[2022-02-16 07:52] Vovanella95 commented on #143
Hi @PKIE , @fryette

We already parsing baseUrl. I can't see how can we implement support of multiple servers and such things. If you have idea how to do it - please reopen the issue.

[2022-02-16 07:52] #143 closed

[2022-02-16 07:54] Vovanella95 commented on #144
Hi @fphilip  please provide swagger example for this case and reopen the issue, if it still actual

[2022-02-16 07:54] #144 closed

[2022-02-16 11:41] vipw opened #343 "[BUG] Json Schema Definition named "Query" generates invalid code"
**Describe the bug**
If I add a definition to the swagger file with the name of query, the generated classes have a namespace collision with Chopper/annotations.dart's Query class.

**To Reproduce**
This swagger file reproduces the issue:
[code]

**Expected behavior**
I would expect the @chopper.Query annotation to be used instead of @Query. This will allow common words like Query, Path, Body, Hea

[2022-02-16 12:11] Vovanella95 commented on #343
Hi @vipw  could you put code into triple quotes? ```

Code will be readable then and I will fix it

[2022-02-16 12:16] #283 closed

[2022-02-16 12:17] Vovanella95 commented on #284
Hi @nkt1001

Please use latest version in pub.dev. Yaml support is already added

[2022-02-16 12:17] #284 closed

[2022-02-16 12:28] Vovanella95 commented on #343
@vipw  anyway I fixed your issue. Please check 2.4.1 version

[2022-02-16 12:28] vipw commented on #343
I was able to fix it by changing `_getParameterAnnotation()` in `swagger_requests_generator.dart` by prefixing "chopper." to the symbol passed to `refer()`.

But that was just enough to unblock my single issue with Query. I think the other annotations should also be changed to use the chopper. prefix to avoid collisions.

[2022-02-16 12:29] Vovanella95 commented on #343
@vipw  Just check latest version, you don't need any workaround 😄

[2022-02-16 12:52] Vovanella95 commented on #286
@malksbier  I'm closing the issue due to no response. Please reopen it if it actual and provide more details.

[2022-02-16 12:52] #286 closed

[2022-02-16 13:30] vipw opened #346 "[BUG] example project fails to generate code"
**Describe the bug**
With a fresh checkout of this project (d27237607d3b865c29379ae2cb1cdba08e459f7b), the example fails to generate code.

**To Reproduce**
cd to the example subdirectory and run:
`flutter pub get`
`flutter pub run build_runner build --delete-conflicting-outputs`

**Expected behavior**
Classes to be generated for the swagger petstore example.

**Library version used:**
d27237607d3

[2022-02-16 13:45] vipw opened #347 "[BUG] _dateToJson generated in wrong file when seperate_models=true"
**Describe the bug**
When the `separate_models` option is set to true, and one of the schema definitions has a type that is a string with format date, then the `_dateToJson` function is generated in the wrong file.

**To Reproduce**
Add this property
[code]
to one of the models in your swagger file and set `seperate_models` to true in the `build.yaml`.
[code]

**Expected behavior**
I would expect

[2022-02-16 13:49] Vovanella95 commented on #346
@vipw  woah it's nice catch. could you share your swagger file name?

[2022-02-16 14:03] vipw commented on #346
It's using the default swagger files from the example.
[code]

I think the files are downloaded to `input_folder` which the generator then uses.

[2022-02-16 14:08] Vovanella95 commented on #346
@vipw  Looks like problem in slashes. I am working on macOS machine. Will check it on my Windows laptop

[2022-02-16 14:11] ByronHolt commented on #346
Experiencing issues with slashes on windows, everything above version 2.3.13 is not working.

[2022-02-16 14:13] Vovanella95 commented on #346
@ByronHolt  yes yes, the main priority for us -  to fix Windows for now

[2022-02-17 14:10] #347 closed

[2022-02-17 17:20] denisano opened #349 "Add ability to pass interceptors into the create() method of generated ChopperService"
The static create() method builds ChopperClient instance and pass it into private API impl class. ChopperClient class supports 'interceptors' parameter that allows to pass list of interceptors. It is very usefull ability of ChopperClient. But currently there is no (in the generated client) ability to pass 'interceptors' into the create() method. Interceptors give full control on request/response e

[2022-02-18 08:10] Vovanella95 commented on #349
Hi @DenisAnkh !
Actually, you can do this, creating custom chopper client and customise it as you want. But if it's comfortable to have interceptors in .create method - OK, i think it's easy fix.

[2022-02-18 12:46] DenisAnkh commented on #349
Hi @Vovanella95 !

I have tried this, but there is a problem - Chopper Client() constructor requires supply 'services' option that must contain instance of private class `services: [_$MyAppApi()]`, but this private class is not available because it is private.

I think it is an easy but very useful fix that would address the issue.

[2022-02-18 13:36] Vovanella95 commented on #349
@DenisAnkh  I will provide fix next week. Thanks for raising issue!

[2022-02-24 15:37] Vovanella95 opened #350 "[FEATURE] Rid of excludes"
Replase exclude to // ignore_for_file: type=lint

[2022-02-28 07:33] Vovanella95 commented on #349
Hi @DenisAnkh I've fixed you issue but lost my phone and can not sign in at weekend :D

Today evening I will push changes and close this issue. Just keep you informed

[2022-02-28 07:34] Vovanella95 commented on #346
Hi @ByronHolt I've fixed your issue, but lost phone and cannot sign in with two factor auth at weekend. Today evening I will push changes and close this issue. Thanks for waiting.

[2022-02-28 14:54] DenisAnkh commented on #349
Hi @Vovanella95! Thank you! Looking forward the feature :)

[2022-02-28 16:56] #346 closed

[2022-02-28 16:56] #349 closed, assigned to fryette, Vovanella95

[2022-03-02 09:00] dJani97 opened #352 "[BUG] an empty file \lib\swagger_dart_code_generator_temp.dart remains after successful build"
**Describe the bug**
An empty file `\lib\swagger_dart_code_generator_temp.dart` is left behind after each build. I don't recall having this problem in earlier versions, but I don't know exactly when it got introduced.

**To Reproduce**

    git clone https://github.com/epam-cross-platform-lab/swagger-dart-code-generator
    cd .\swagger-dart-code-generator\example
    flutter pub get
    flutter p

[2022-03-02 15:11] vipw commented on #343
This is still broken in 2.4.2, the generated code still has
`import 'package:chopper/chopper.dart';`

Any generated class named Query, Path, Get, Post, etc. will still fail to compile. The generated code should import all libraries with "as xyz" syntax and then only reference imported classes with the imported namespaces.

[2022-03-02 15:16] Vovanella95 commented on #343
Hi @vipw , yes we import chopper to support chopper annotations. Your file is generated without errors, so problem in usage of package, right?

Could you provide example of failing code?

[2022-03-02 15:17] Vovanella95 commented on #352
Fixed here: https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/pull/353

[2022-03-02 15:17] #352 closed

[2022-03-02 15:26] Vovanella95 commented on #343
Do you have collect list of exception classes? We can add it to our lib and generate it with dollar.

[2022-03-02 16:22] vipw commented on #343
@Vovanella95 The example swagger above does generate valid code, but if a "Query" object is included as a parameter (for example as the body of a POST), then the generated code is like this:

[code]

The Query in Query.fromJsonFactory is resolved as chopper/lib/src/annotations.dart::Query.

What I would propose as a systematic solution is have all the imports to be namespaced.

Chopper is actually

[2022-03-03 07:04] Vovanella95 commented on #343
Hi @vipw really nice catch. I will take a look into it soon

[2022-03-03 07:16] Vovanella95 commented on #343
Possible it's really better just to use chopper. before each Chopper class. Will try to implement it this way

[2022-03-03 09:41] Vovanella95 commented on #343
@vipw  looks like it's not possible to use chopper annotations without importing chopper directly. We will have compilation error in this case.

[code]

[2022-03-03 11:05] RoarGronmo opened #354 "[BUG] No output to defined result paths in `v2.4.3`, ok in `v2.4.2`."
**Describe the bug**
When building with `flutter pub run build_runner build --delete-conflicting-outputs` with `v2.4.3` there are no files generated in my result path defined in the `build.yaml` file.

**To Reproduce**
Here is the `pubspec.yaml` content:
[code]
Here is the `build.yaml` content

[code]

And here's the swagger file used (as a `.txt` file when github prohibits upload of rich content

[2022-03-03 11:12] Vovanella95 commented on #343
@vipw  thanks looks like my syntax knowledge is poor)))

I will make fix as soon as possible

[2022-03-03 11:33] Vovanella95 commented on #354
Hi @RoarGronmo I have tried your build.yaml file and your swagger file on my PC and everything is generated. Possible problem happens only on Windows. I will check it today evening on my Windows PC.

[2022-03-03 12:22] dJani97 commented on #354
I also had problems with the generation today. On Mac (M1, latest OS) I get the following error:

    FileSystemException: Cannot create file, path = 'lib/ui' (OS Error: Is a directory, errno = 21)
    dart:io                                                                     _File.createSync
    package:swagger_dart_code_generator/swagger_dart_code_generator.dart 60:30  _generateExtensions
    p

[2022-03-03 13:58] RoarGronmo commented on #354
BTW as comment to @dJani97 : I do not have any `lib/ui` path in my project, so I don't think this error is related to that. You should maybe file another issue for your particular problem. (I`m in Windows 11).

[2022-03-03 14:04] RoarGronmo commented on #354
@Vovanella95 please change following line in `pubspec.yaml` file:
[code]
to
[code]

Sorry, I didn't realize that I sent you the contents where it worked, and not the contents where it didn't work.

I had to pin the `swagger_dart_code_generator` to version `2.4.2` to get it to generate code.

[2022-03-03 14:06] Vovanella95 commented on #354
@RoarGronmo  yes I understand I should check it on latest version. There I've rid of not needed temp file. I will check it on my Windows machine, I hope problem in it.

[2022-03-04 07:45] Vovanella95 commented on #343
Hi @vipw, I tried to implement this thing, and have problem with chopper. chopper generated file is not valid because it's requires chopper import.

[code]

Any other ideas how to fix it?

[2022-03-04 09:12] fryette commented on #343
Why simply not generate response class with name `$Query` instead of looking into workaround for chopper?

[2022-03-07 22:21] point-source opened #356 "[BUG] Code generation is failing with "Bad state: no element""
**Describe the bug**
Build fails with:

**To Reproduce**
Try to generate code from this swagger file: https://gist.github.com/point-source/c0ee7e9f271411d44c734c89e879c02c

**Expected behavior**
Code is generated successfully

**Swagger specification link**
https://gist.github.com/point-source/c0ee7e9f271411d44c734c89e879c02c

**Library version used:**
2.4.3

**Additional context:**
Here is my bui

[2022-03-07 22:31] point-source commented on #356
Looks like line 16384 of the swagger file is causing it because codegen just checks if the "content" object is null rather than empty or null. Then the call to Iterable.first fails because the map is empty.

[2022-03-09 07:51] Vovanella95 commented on #356
Hi @point-source I had long weekends so I can fix this one this week :)

[2022-03-09 08:01] alexproca opened #357 "[QUESTION] custom authentication"
**Please describe a problem.**
How should custom authentication be implemented? Right now I need to add a custom Authorization header and I manually modify the generated chopper code to add a Header interceptor that will compute and add the bearer jwt

**Describe the solution you'd like**
Some way to extend the client so custom interceptors can be added or just pass them at the client initializati

[2022-03-09 08:23] Vovanella95 commented on #357
Hi @alexproca , you should not add custom headers to your requests. Just use interceptors for it. create your own class extends Interceptor and override onRequest method.

For example:
[code]

and then when you're creating chopper client you can do next:

[code]

Is it fix your problem?

[2022-03-09 08:29] alexproca commented on #357
Thank your for your answer. I'm looking for something like that but the generated code doesn’t have the option to pass interceptors

[code]

[Generated example](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/blob/master/example/lib/swagger_generated_code/pet_service_yaml.swagger.dart)

[2022-03-09 08:39] Vovanella95 commented on #357
@alexproca  can you specify version of generator you're using?

[2022-03-09 08:41] alexproca commented on #357
<img width="777" alt="Screenshot 2022-03-09 at 10 41 11" src="https://user-images.githubusercontent.com/252961/157404556-fa666586-40c8-4908-bbcd-564a0e05d4c1.png">

[2022-03-09 09:26] alexproca commented on #357
I changed version from 'any' to 2.4.3 and now the API has the interceptors parameter. Thank you @Vovanella95 for your input.

<img width="563" alt="Screenshot 2022-03-09 at 11 23 36" src="https://user-images.githubusercontent.com/252961/157412449-cac8194f-3b17-46fe-91b0-1745ce7ed9dc.png">

[2022-03-09 10:03] Vovanella95 commented on #357
@alexproca  Yes I asked for version because I remember I added this feature recently :) I'm closing the issue. Please let us know in case of questions.

[2022-03-09 10:04] #357 closed

[2022-03-09 10:04] alexproca commented on #357
As a suggestion maybe you can replace in the readme the 'any' version with 2.4.3

[2022-03-09 11:13] Vovanella95 commented on #357
Good idea actually :)

[2022-03-09 11:15] alexproca commented on #357
I had to also solve a conflict with a version override

[code]

[2022-03-09 20:09] RoarGronmo commented on #354
Did you check it out ? I can't see any update for this particular problem...

[2022-03-10 07:01] Vovanella95 commented on #354
Hi @RoarGronmo , sorry I had long weekends in my country :D I will check it today evening. Sorry for this delay

[2022-03-10 07:14] RoarGronmo commented on #354
Long weekends are important for your brilliant minds !!

[2022-03-10 07:46] #343 closed

[2022-03-10 07:46] #356 closed

[2022-03-10 20:54] RoarGronmo commented on #354
Thanx, I'll check tomorrow...

tor. 10. mar. 2022, 18:34 skrev Uladzimir_Paliukhovich <
***@***.***>:

[2022-03-11 07:16] #354 closed

[2022-03-11 08:38] RoarGronmo commented on #354
Confirming that `2.4.5` works perfectly concerning this particular incident!

[2022-03-11 08:44] RoarGronmo commented on #354
BTW: Discovered this, one. Just a "shadow", no content...

![image](https://user-images.githubusercontent.com/11217296/157833012-54559570-d148-42fa-b3e8-4a80f16f2426.png)

[2022-03-11 08:52] dJani97 commented on #354
I was able to run `2.4.5` on Windows 11, and it gave me the proper output.

Although for me, the empty temp file https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/352 did not come back. @RoarGronmo this was an issue in the past. If you remove it, does it get generated again ?

I'll try to look into my previously mentioned Mac issue later. It's definitely unrelated to th

[2022-03-18 09:39] bawantha opened #359 "[BUG] How to generate models without hashcode override"
Could not resolve annotation for `int get hashCode`.
  ╷
1 │ @override
  │ ^^^^^^^^^
  ╵

[2022-03-18 11:45] Vovanella95 commented on #359
Hi @bawantha

We can add option to not generate it if it's not needed. But what is actual problem?

[2022-03-18 11:59] bawantha commented on #359
[code]
I'm getting this error, I don't know why

[2022-03-18 12:38] Vovanella95 commented on #359
@bawantha  could you please share part of swagger code with this model? I will take a look into it

[2022-03-18 18:55] Vovanella95 commented on #359
@bawantha  ping

[2022-03-21 14:48] Vovanella95 commented on #359
![rasstroennyj-fanat-kriketa-1-768x385](https://user-images.githubusercontent.com/11267533/159286560-18788e2b-1f28-4560-8f21-a9bad8bd5070.jpeg)

[2022-03-21 15:36] bawantha commented on #359
I'm sorry brother I cannot share the swagger with you, it's confidential If I have time I will recreate issue with different swagger, until then 👋

[2022-03-21 15:36] #359 closed

[2022-03-22 07:04] Vovanella95 commented on #359
@bawantha  You can share just part of it and modify it as you wish to keep confidential data. I just want to understand root cause to avoid such situations.

[2022-03-23 11:36] flowhorn opened #360 "Chopper Authenticator Implementation"
**Is your feature request related to a problem? Please describe.**
When initializing the api, i would like to pass a chopper Authenticator.

**Describe the solution you'd like**
For things like token-refresh, I need to use the Authenticator class instead of the interceptorts, to be able to retry the request with new tokens. You could pass these optionally in the constructor like you do with the in

[2022-03-23 11:49] Vovanella95 commented on #360
Hi @flowhorn , why can't we do like this?

[code]

[2022-03-23 12:35] skiryuk opened #361 "[QUESTION] Need option to shorten model names"
Now we have long model names on the project after generation. Is there a way to shorten them?
Maybe in the settings specify a prefix that will be deleted?

![image](https://user-images.githubusercontent.com/18750948/159700417-d004bf90-3c5e-4e3a-98a9-7de4851b5587.png)

[2022-03-23 12:39] skiryuk opened #362 "[QUESTION] Need option to split models into multiple files"
Now we have on the project after the generation all models are folded into one file.
Is it possible to divide into several files, for example, by controller?
Can make such an option?

[2022-03-23 13:31] Vovanella95 commented on #362
Hi @skiryuk , we already have option to generate models to separate files. It's named `separate_models `. Are you want separate file for each model?

[2022-03-23 13:37] Vovanella95 commented on #361
Hi @skiryuk , it's interesting case. I think it's really specific, we need another way to avoid it. Possible we can create some kind of regex to modify model names. Need to think about it.

Maybe you have some another ideas?

[2022-03-23 13:40] Vovanella95 commented on #362
@skiryuk  if you want to put all models into one file - you can have a lot of conflicts with same models names. What means group models on the controller api? Possible we can generate something help you to solve this

[2022-03-23 13:43] Vovanella95 commented on #362
It's possible to generate each model to separate file, but it contradicts our vision of generator. We can solve your problem in different way. I need just more details about issue you trying to solve.

[2022-03-23 13:46] skiryuk commented on #361
Regular expression mean the post processing generated files? We had a similar idea to cut static the name at the beginning of the field, but with a regular expression more interesting.

We have seen here that the name is going from the namespace .NET
![image](https://user-images.githubusercontent.com/18750948/159713656-0e8e9170-155f-49fb-9557-3c00d318fbac.png)

[2022-03-23 13:53] Vovanella95 commented on #361
@skiryuk  not post processing. I can add this change to method, where we generating class name. Possible, it's easy to implement. Let me try to do this. I will let you know soon.

[2022-03-23 13:57] skiryuk commented on #361
Thank you, it would be very cool

[2022-03-23 14:14] Vovanella95 commented on #362
@skiryuk  Swagger can not guarantee, that Agents and Auth use different models. So we need to create separate file for each model. Why huge files is a problem? You don't need to modify or even open it.

[2022-03-23 15:43] Vovanella95 commented on #361
@skiryuk

you can do the next, to use this feature right now:

`pubspec.yaml`
[code]

`build.yaml`
[code]

[2022-03-23 15:44] skiryuk commented on #362
I thought there would be problems with the opening of a large file. But in principle, it will probably be right for now. If there are really problems, I will reveal a question again.

And why the storage of each model in a separate file is contrary to your generator vision ?

[2022-03-23 15:58] Vovanella95 commented on #362
@skiryuk I don't like a lot of files. It's difficult to navigate and not trivial to implement and support. Sorry :(

[2022-03-24 08:10] Vovanella95 commented on #360
@flowhorn  OK I see :) I will add authenticator parameter to create method.

[2022-03-24 17:43] flowhorn commented on #360
Thank you very much for your work!

[2022-03-24 17:43] #360 closed

[2022-03-25 13:03] #361 closed

[2022-03-25 13:07] Vovanella95 commented on #362
@skiryuk I will close this issue because it's not a problem files are huge. I have generated files with 200K+ lines and everything works OK. There're no reasons to open generated files if there are no issues. In case if issues - please raise it here, we will pick it up and fix.

[2022-03-25 13:07] #362 closed

[2022-03-25 13:09] Vovanella95 commented on #360
@flowhorn  your feature has been added in latest version of our generator. Please let us know in case if any issues.

[2022-03-25 14:03] skiryuk commented on #361
As it turned out, the property is called `cut_from_model_names` and everything works with it, please add it to the documentation

[2022-03-25 14:12] Vovanella95 commented on #361
@skiryuk  already did :)

[2022-03-25 15:43] samarth-ramesh commented on #324
Hey @Vovanella95, any chance we can get the non-nullable required values (implemented vide #282)?

[2022-03-25 16:39] samarth-ramesh opened #367 "[BUG]"
**Describe the bug**
Dependency conflict:
[code]
**To Reproduce**
Create a fresh project, add dependencies as described in the README

**Expected behavior**
For flutter pub get to work correctly

**Swagger specification link**
NA

**Library version used:**
2.4.6

[2022-03-25 17:56] skiryuk commented on #367
Helped me to upgrade versions
dependencies:
    json_annotation: ^4.4.0

dev_dependencies:
    json_serializable: ^6.1.5

[2022-03-28 06:57] Vovanella95 commented on #324
Hi @samarth-ramesh , I will try to implement it in a week or two

[2022-03-28 06:58] Vovanella95 commented on #367
Hi @skiryuk   @samarth-ramesh I will update Readme file today.

[2022-03-29 07:27] felixmede opened #369 "[FEATURE] Handling of discriminator"
**Is your feature request related to a problem? Please describe.**
The api config we are using contains, some models with discriminators. This means depending on a specific field inside the class, the class is getting mapped to another class which extends the first class. In other programs languages this feature is called e.g. sealed classes. Flutter currently does not support this but the library

[2022-03-29 08:56] Vovanella95 commented on #369
Hi @felixmede ,
we already support allOff inheritance.
Unfortunately there are no possibility to support oneOf and anyOf, because type is known only when we received response and there is no way to detect it before. In such cases you can just map response to any generated or custom model you want.

If you have some difficulties, working with out generator, related to discriminators, please let us

[2022-03-29 12:02] #324 closed

[2022-03-29 12:03] samarth-ramesh commented on #367
Roger, thanks

[2022-03-29 12:04] Vovanella95 commented on #324
@samarth-ramesh  please let us know in case of issues. I have checked it on my swaggers but who knows :D

[2022-03-29 17:19] jl-insiders opened #372 "[BUG] "build_only_models: true" causes missing "import 'dart:convert';""
First I wanted to say thank you for sharing this library. Currently, we are using the models only feature which was working well up to v2.3.13.

**Describe the bug**
When setting "build_only_models: true" in build.yaml,
the generated file: pet_service_json.swagger.dart
is missing "import 'dart:convert';" for jsonEncode.

**To Reproduce**
I can reproduce this using the swagger file from the example

[2022-03-30 07:50] Vovanella95 commented on #372
Hi @jl-insiders  will take a look into it asap

[2022-03-30 13:01] #372 closed

[2022-03-30 14:06] #317 closed

[2022-04-02 06:24] samarth-ramesh commented on #324
Works now, thanks a lot :)

[2022-04-04 14:06] LaurentiuSimionescu opened #375 "[QUESTION] How to intercept and change the response"
Implemented a local mock server solution to test different scenarios in our app.
I am loading a list of mock responses from local JSON files.
In the interceptor, I can load everything and I end up with a Map<String, dynamic>.
But now I am unable to change the content of the response with the one that I constructed.
I get Response<dynamic> is not type of Response<LoginResponse> for example.

There

[2022-04-05 08:11] Vovanella95 commented on #375
Hi @LaurentiuSimionescu, you can try get String body and use ModelName.fromJson(). then modify it and then convert back to json. Possible, I missing your problem. Could you provide more details?

[2022-04-05 09:08] Vovanella95 commented on #375
Hi @LaurentiuSimionescu, interceptors are not ment to be used for response transformation.
If you will try to do this - you will have next error `Interceptors should not transform the body of the responseUse Response converter instead`. To modify response, please, use Converter. You can implement your own converter and pass it to ChopperClient.

For example:
``dart
final petsApi = PetServiceYaml.c

[2022-04-05 11:36] LaurentiuSimionescu commented on #375
Hi, thanks for the update.
Got another question if you might help, how can I stop the actual request to the server and send back a local response?

[2022-04-05 12:09] Vovanella95 commented on #375
@LaurentiuSimionescu  why can't you mock whole service and just mock returned data?

[code]

[2022-04-06 10:35] josxha opened #376 "[BUG] `client_index.dart` in same directory as other generated files"
**Describe the bug**
I am trying to use the generator as a package for my project and have seen that `client_index.dart` is generated in the same directory as the other files.

In the package I use `output_folder: "lib/src"` to generate the files under `/lib/src`, because not all files from my main project have to be visible. However, if `client_index.dart` is now generated in the same directory,

[2022-04-06 10:54] josxha opened #377 "[BUG] missing export of `.models.swagger.dart` inside `client_index.dart`"
**Describe the bug**
If `separate_models: true` is set, `*.models.swagger.dart` should be added to the `client_index.dart` file.

**To Reproduce**
[code]

**Expected content of `client_index.dart`**
[code]

**Current content of `client_index.dart`**
[code]

**Library version used:**
2.4.8

[2022-04-06 11:18] Vovanella95 commented on #376
Hi @josxha  thanks for raising an issue. Will be fixed asap

[2022-04-06 11:18] Vovanella95 commented on #377
Hi @josxha  thanks for raising an issue. Will be fixed asap

[2022-04-06 14:17] josxha commented on #377
Thanks for your fast response!
I just noticed that the exports are in the file `openapi.swagger.dart`.

[code]
Would it make sense to move these exports to `client_index.dart`? Then only this file would have to be imported to use the generated client.

[2022-04-07 07:55] Vovanella95 commented on #377
@josxha  yes we have a lot of build options. We just did not checked all cases. Will try to handle your issues during this week

[2022-04-07 12:58] Vovanella95 commented on #377
Hi again @josxha, I've checked this issue in details. Unfortunately, we can not add models import to `client_index.dart `because we can have a lot of model name conflicts. That's why we export only generated serviced in `cliend_index.dart`. If you have any ideas, how to fix it - let us know. Otherwise I propose to close issue.

[2022-04-07 12:58] Vovanella95 commented on #375
Looks like everything OK here. Closing the issue.

[2022-04-07 12:58] #375 closed

[2022-04-07 12:59] Vovanella95 commented on #369
Closing this issue. @felixmede please reopen it in case of any ideas

[2022-04-07 12:59] #369 closed

[2022-04-07 15:20] Vovanella95 commented on #376
@josxha  please provide more arguments to convince your solution is better.

[2022-04-10 07:39] josxha commented on #376
@Vovanella95 May I ask for the general use case of `client_index.dart`?

[2022-04-10 07:46] josxha commented on #377
@Vovanella95 Thanks for looking into this. Closing this issue.

[2022-04-10 07:46] #377 closed

[2022-04-11 11:59] Vovanella95 commented on #376
@josxha  it will affect all current users of our lib. And I see no real profit here. Of course it will looks more better, but from the other side it's more complex solution. I'm not going to implement it sorry.

[2022-04-13 09:07] via-guy opened #382 "[FEATURE] Handle default values for enums"
**Is your feature request related to a problem? Please describe.**
In #381 we tried to implement default values for enums. The problem is that the code generated by `json_serializable` doesn't include the `enums.` prefix for the default value types, which breaks compilation. Alternatively, I tried to use the `fromJson` function that we generate to pass the default value, but then the `@JsonKey` an

[2022-04-13 09:10] Vovanella95 commented on #382
@via-guy  If you want to implement it by your own - you can modify generation of _modelFromJson methods. It will be easy and safe fix. Or just let me do this. For example:

[code]

[2022-04-13 09:11] Vovanella95 commented on #382
@via-guy  I think, to achieve it, you need to modify only next method in generator

[code]

[2022-04-13 09:12] Vovanella95 commented on #382
@via-guy  but anyway you can just wait while I will handle it

[2022-04-14 07:19] Vovanella95 commented on #382
@via-guy  we can add parameter to method, generation fromJson. This parameter will be default value. Different models will pass different default values.

[2022-04-14 07:59] via-guy commented on #382
You mean adding the parameter to `generateEnumFromJsonToJson`? Because that won't work, as it'll mean that we need multiple generations for the enum based on the default value.

Alternatively, we can't add a parameter to the generated function, e.g.
[code]
because this function gets passed to `@JsonKey`, which expects a function with just 1 argument.

[2022-04-14 08:36] Vovanella95 commented on #382
@via-guy  you can generate separate fromJson functions for each model. For example:

[code]

I'm not sure but it will possible work :)

[2022-04-14 08:38] Vovanella95 commented on #382
It's not trivial task, we should:

1. Add default value parameter to fromJson methods
2. generate _modelEnumFromJson method for each model

[2022-04-14 09:03] doodlezucc opened #384 "[BUG] Missing parameter annotations when parsing "$ref" fields"
Spotify's [open-api-schema.yml](https://developer.spotify.com/_data/documentation/web-api/reference/open-api-schema.yml) contains reference fields to parameter components. Despite getting parsed correctly and using the type definition of their referenced component, parameters are not annotated correctly in the generated `.swagger.dart` file.

**Generated:**
[code]

**Source (heavily truncated):**

[2022-04-14 10:48] Vovanella95 commented on #384
Hi @doodlezucc , thanks for raising issue. We will handle it asap

[2022-04-14 11:06] doodlezucc commented on #384
Thanks a lot! I'm having a look at it myself right now and was able to fix the issue in a separate fork: https://github.com/doodlezucc/swagger-dart-code-generator/commit/ff5d449554c7eed648030ad267244c2df59c1dd1

Essentially, references to parameter components are not being resolved as of yet. If a `SwaggerRequestParameter` only has the `ref` property set, then other fields like the name or descrip

[2022-04-14 14:03] alextarrago opened #385 "[BUG] Multipart/form-data request is not being generated 🐛"
Hi guys!

**Describe the bug**
We are generating our current specification and some of the services are not properly generated. All of the multipart/form-data services are being created as common @Post calls without any @PartFile attributes, leading us on not being able to use the generator for those services. Our spec is attached for your references (using OpenAPI 3.0).

**To Reproduce**
[code]

[2022-04-14 15:25] Vovanella95 commented on #382
@via-guy I supposed all of them was about default values. Sorry. Please revert needed one

[2022-04-15 10:22] doodlezucc opened #388 "[QUESTION] How to build this package's source code (generating ".g2.dart")"
I'm trying to edit some of the source code of this package. You seem to be using `json_serializable` on the swagger models to generate `.g2.dart` files. I'm struggling to understand how and why these files are called `g2` instead of simply `g`.

Dart's json generator ignores the serializable files because they're missing the exact line `part of [name].g.dart` at the top. The way this package's fil

[2022-04-15 10:40] gabsgoncs opened #389 "[QUESTION] Create schema property as not "final""
Problem:
Generated code for schema objects always have properties set as "final". E.g.: A post result model is created with final properties, not allowing me to modify the local result if necessary.

Expected solution:
Object properties not flagged with "readOnly : true" on the swagger file not generated as final.

If there is any way of handling this situation I would be happy to know. Have looke

[2022-04-15 11:12] Vovanella95 commented on #388
Hi @doodlezucc  you can just remove `.g2` to `.g` and make it `.g2` again when generation is completed. Also before generation please comment `build.yaml `file, otherwise generation will not work

[2022-04-15 11:15] doodlezucc commented on #388
Right, I have tried that... but it's a bit cumbersome, isn't it? Why not just leave it at `.g`?

[2022-04-15 11:27] Vovanella95 commented on #388
@doodlezucc  We added all .g files to gitignore to not commit generated files if it's not needed

[2022-04-15 11:29] Vovanella95 commented on #384
@doodlezucc  nearly fixed this issue. Did you also fixed it here? :)

[2022-04-15 11:32] Vovanella95 commented on #389
Hi @gabsgoncs , it's how it's meant to be. We generate immutable models, immutability is good approach. If you want to modify your models - just use `copyWith` method. We already generation it.

Any other questions?

[2022-04-15 11:37] doodlezucc commented on #388
Ah, I see. Thanks for clarifying!

[2022-04-15 11:37] #388 closed

[2022-04-15 12:41] Vovanella95 commented on #389
@gabsgoncs  I'm closing issue. Please raise new one in case on questions

[2022-04-15 12:41] #389 closed

[2022-04-15 12:46] via-guy commented on #382
@Vovanella95 ok, I think I got it in #391. It works in my project, but it may not be perfect.
It's a shame that we couldn't just get `json_serializable` to work instead. Would've been so much cleaner...

[2022-04-15 12:52] Vovanella95 commented on #382
@via-guy great I will try to check your code and release new version asap. I think it will happen next week

[2022-04-15 14:27] #382 closed

[2022-04-17 21:55] PatrickRatzow opened #392 "[BUG] Enums in schema not generated properly if inside allOf"
**Describe the bug**
An enum inside an allOf construct will not properly generate with enum specific import prefix & factories. Generation will fall back to a generic strategy, which will cause an exception at runtime when the factory is run.

![Schema](https://i.imgur.com/g533a5j.png)
![Factory](https://i.imgur.com/5pIFff1.png)

**To Reproduce**
[code]

**Expected behavior**
It should work the sa

[2022-04-22 10:06] #384 closed

[2022-04-22 14:40] Vovanella95 commented on #385
Hi @alextarrago could you please share code yo expect to be generated here?

[2022-04-22 14:47] Vovanella95 commented on #392
Hi @PatrickRatzow, I've generated your example and get next code:

[code]

Looks like your issue has been fixed by guy, who created PR with various fixes. Looks like now everything is fine. Please check 2.4.10 version and let us know in case of issues. I'm closing this one

[2022-04-22 14:47] #392 closed

[2022-04-25 03:45] searchy2 commented on #384
Thank you so much Uladzimir. Ref support came in the nick of time.

Thanks to this change, all my API endpoints are generated and working perfectly!

Instead of the old ObjectList class, now we get List<Object> correctly.

I wish you the best good sir!

[2022-04-25 07:04] Vovanella95 commented on #384
@searchy2  thanks!

[2022-04-26 19:39] vaetas opened #395 "[QUESTION] Generate JSON factory mapping with build_runner"
Hello,
I've updated this package from verzion `2.0.8+1` to `^2.4.10`. I see that one of the changes is populating the `generatedMapping` map in runtime like this

[code]

I'm using an isolate for JSON decoding and encoding (as my objects can be fairly large). Following code worked perfectly in the previous version I mentioned.

[code]

Then I provided this into my `ChopperClient` like this:
[code]

[2022-04-27 08:09] Vovanella95 commented on #395
Hi @vaetas

how to create instance if isolateRunner here?

[code]

[2022-04-27 08:20] Vovanella95 commented on #395
Hi @vaetas!

Indeed we're decided to generate generatedMapping on fly. It's needed to tree-shaking works properly. For example, if we have 1000 models but use only few of them - on previous approach all models keep, but now they will be removed. This way your app will take less size.

According your situation I have a proposal.

[code]

It works in my example. Is it helps?

[2022-04-28 15:51] vaetas commented on #395
Hi @Vovanella95
Your solution works perfectly! Thank you!

[2022-05-02 10:02] fryette opened #397 "[BUG] Schema not parsed correctly in some cases when response is Array"
**Describe the bug**
When schema has next part for request

[code]

where the currency is:

[code]

build failed.
Seems we need to handle that case when schema is defined together with `items`

[2022-05-02 10:07] fryette opened #398 "[BUG] When object defined as string"
Sometimes schema can have references on object like:

[code]

To fix it needed use `String` instead of `Currency`. So needed to check on base types

[2022-05-11 12:46] Vovanella95 commented on #385
@alextarrago  closing an issue due to no answer. Please reopen it with example of expected generated code if it will be actual.

[2022-05-12 22:52] kawmy opened #402 "How to apply a default header to all generated apis"
I have used the code generator and apis are generated for me , ive got one problem
Which is i dont know exactly how to apply a default header to apis or actually apply header to any of them like the authorization header any helps on that?

[2022-05-13 07:11] Vovanella95 commented on #402
Hi @kawmy , to apply any header to all requests you can use interceptors.

[code]

If something not clear - please let me know

[2022-05-13 08:15] kawmy commented on #402
Hi thanks for the reply ive used
[code]
i get an error for implementing abstract classes
if you could copy my code and let me know where im doing wrong i would be thankfull

[2022-05-13 08:20] Vovanella95 commented on #402
@kawmy  just wanted to propose You to implement RequestInterceptor :)

[2022-05-14 19:49] Ltei opened #405 "[FEATURE] Generate tests"
Would it be possible to generate tests for every method?

[2022-05-15 12:09] fryette commented on #405
Please provide an expected result of such tests.

[2022-05-16 07:18] Vovanella95 commented on #405
@Ltei  does it make sense to generate tests for generated code? Why just not exclude it from coverage?

[2022-05-16 07:21] Vovanella95 commented on #405
@Ltei  you can use, for example, this package to remove generated files from coverage
https://pub.dev/packages/remove_from_coverage

[2022-05-16 09:50] Ltei commented on #405
Hi!
I want to use your package to generate code for [Legifrance API](https://developer.aife.economie.gouv.fr/index.php?option=com_apiportal&view=apitester&usage=api&apitab=tests&apiName=DILA+-+L%C3%A9gifrance+Beta&apiId=404c503e-d69d-4f2d-9909-00d33bd56701&managerId=2&type=rest&apiVersion=1.6.2.5&Itemid=265&swaggerVersion=2.0&lang=fr)

However, the swagger doesn't correspond to the API (many types

[2022-05-16 14:26] kawmy opened #407 "Cors Problem"
hi there i get this error XMLHttpRequest error  while i use the package it started since today i wanted to know if theres a way to fix this

[2022-05-16 21:25] fryette opened #408 "[FEATURE]"
Migrate to Dart 2.17

- New constructors
- Enums
- Enum parsing

[2022-05-17 10:02] Vovanella95 commented on #407
Hi @kawmy , could you provide more details about your problem?

[2022-05-17 19:00] #407 closed

[2022-05-18 09:36] kawmy opened #409 "Having null values in generated Json"
hi there i wanted to handle my generated json to automatically ignore null jsons like
this the generated json for now
[code]
but i want it like

this

[code]
how to make the toJson factory automatically recognize nulls and ignore them from being generated in the request json?

[2022-05-18 14:21] Vovanella95 commented on #407
@kawmy  thanks :) Let us know in case of any issues!

[2022-05-18 17:51] alextarrago opened #410 "[BUG]Could not find factory for type XX"
We are getting this error from all the object models from our API. Everything was working fine, we just regenerate de SPEC and all models have this specific error.

`Could not find factory for type Orders. Is 'Orders: Orders.fromJsonFactory' included in the CustomJsonDecoder instance creation in bootstrapper.dart?
flutter:
#0      $CustomJsonDecoder._decodeMap (package:simplr/data/api/simplr.swagg

[2022-05-18 18:19] kawmy commented on #409
Yes perfect but i saw deafault value was null and not false . Now i did set it to false and its working .
But u are saying it should be true?

[2022-05-19 07:14] Vovanella95 commented on #409
@kawmy  if it's true - null values will be added to your json. If false - they will not. If it's null - the same as for true.

About default value - it was mistake. By default it's null.

[2022-05-19 07:14] Vovanella95 commented on #409
@kawmy any other questions?

[2022-05-19 07:16] Vovanella95 commented on #410
Hi @alextarrago . Could you provide example of generated request, where you have this error?

[2022-05-19 07:29] Vovanella95 commented on #410
@alextarrago it can happens because before making call generatedMappind.putIfAbsent is not called. That's why I ask to provide part of generated code

[2022-05-19 11:42] alextarrago commented on #410
Sure, there you go...
`Future<chopper.Response<Orders>> ordersGet(
      {enums.OrdersEmbed? embed, Pageable? pageable, OrderCriteria? q}) {
    generatedMapping.putIfAbsent(Pageable, () => Pageable.fromJsonFactory);
    generatedMapping.putIfAbsent(
        OrderCriteria, () => OrderCriteria.fromJsonFactory);

    return _ordersGet(
        embed: enums.$OrdersEmbedMap[embed]?.toString(),

[2022-05-19 11:50] Vovanella95 commented on #410
Hy @alextarrago, thanks for code snipper! Can you also share swagger file part of this request? I see Orders object is not added to generated mapping

[2022-05-19 11:53] alextarrago commented on #410
Of course!
[code]

[2022-05-19 12:00] Vovanella95 commented on #410
@alextarrago and please schema of "Orders"

[2022-05-19 12:26] Vovanella95 commented on #410
@alextarrago I have a fix. Can I ask you to check it, using swagger generator version from branch? You need just update pubspec.yaml, re-generate code and let me know, is everything fine.

[code]

[2022-05-19 13:06] AhmedHamdan54 commented on #410
@Vovanella95  I am working on the same project and I can confirm that the fix didn´t work.
It´s still showing the same error,

[code]

[2022-05-19 13:08] Vovanella95 commented on #410
@AhmedHamdan54  or @alextarrago  please provide full swagger file or just request which fails and all schemas, defined in this request. I will fix it asap

[2022-05-19 13:13] alextarrago commented on #410
can you send private email address please?

[2022-05-19 13:20] Vovanella95 commented on #410
@alextarrago  sure!

[2022-05-19 15:49] Vovanella95 commented on #410
@AhmedHamdan54  great I see the problem! Will fix it tomorrow!

[2022-05-19 17:24] kawmy commented on #409
No thanks.

[2022-05-19 17:24] #409 closed

[2022-05-20 08:38] #410 closed

[2022-05-20 08:40] Vovanella95 commented on #410
@AhmedHamdan54  @alextarrago  please check latestversion

[2022-05-20 08:57] alextarrago commented on #410
Hi @Vovanella95 thanks for being that fast! We are now facing another problem we did not have on the previous version. Some of the data models are being generated as a Map<String, dynamic>...

[code]

On the spec you will see its definition:
[code]

Any ideas?

[2022-05-20 09:13] Vovanella95 commented on #410
@alextarrago  agh you're right! Let me handle it

[2022-05-20 09:20] andywearearch commented on #385
@Vovanella95 we have also ran into this issue today

we have tried our generator with our json and the example json in this repo

It appears that the @multipart decorator isn't being added to multipart requests as per the chopper documentation
https://pub.dev/documentation/chopper/latest/chopper/Multipart-class.html

Let me know if you need anymore information about this issue, thanks in advance!

[2022-05-20 09:26] Vovanella95 commented on #410
@alextarrago  can you try 2.5.4+1?

[2022-05-20 09:29] Vovanella95 commented on #385
Hi @andywearearch

Can wegenerate code somehow, to fix it? If yes - please provide example of swagger request and expected generated code for it.

[2022-05-20 09:30] Vovanella95 commented on #405
We're not going to generate tests for now, because it does not make sense. Closing the issue.

[2022-05-20 09:30] #405 closed

[2022-05-20 09:40] alextarrago commented on #410
Amazing! Now it's perfect! Thanks @Vovanella95 👍

[2022-05-20 09:53] Vovanella95 commented on #410
Thanks YOU to stay in touch and using our generator!

[2022-05-20 11:00] andywearearch commented on #385
@Vovanella95

I have done a bit of digging and im pretty sure this is what needs to be generated from the following swagger yaml/json

I have referenced both the chopper documentation linked above and the swagger multipart file documentation here (Open API Spec 3.0):

https://swagger.io/docs/specification/describing-request-body/file-upload/

[code]

Should generate something like this:

[code]

I

[2022-05-20 11:18] Vovanella95 commented on #385
@andywearearch thanks for researching. I'm reopening the issue and will fix it!

[2022-05-28 07:31] RoarGronmo opened #415 "Suddenly `int` parameters are interpreted as `string` parameters (from at least 2.5.6+1)"
**Describe the bug**
When upgrading from (at lowest `2.3.10` to `2.5.6+1`) some `int` paramaters are interpreted as `string` paramters.

**To Reproduce**
[mwork_api.swagger.txt](https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/files/8790683/mwork_api.swagger.txt)

**Expected behavior**
Expecting the generator to generate the files as before, since there where no significant v

[2022-05-28 13:20] RoarGronmo commented on #415
The problem seems to be introduced in `2.5.5`, in `2.5.4` it works OK.

[2022-05-30 07:23] Vovanella95 commented on #415
Hi @RoarGronmo , I will check it. Thanks for raising!

[2022-05-30 09:46] Vovanella95 commented on #385
Hi @andywearearch  @alextarrago
I've made initial implementation. Could you please try swagger generator version from branch and check, is it works as expected?

Your swagger example now generated with PartFile parameter and Multipart annotation.

[2022-06-01 12:22] RoarGronmo commented on #415
TYI: The issue is still there in `2.5.7`

[2022-06-01 12:26] Vovanella95 commented on #415
@RoarGronmo  hello! Yes I know :) Will handle your issue this or next week! Your issue is first one in my priority

[2022-06-02 14:32] #415 closed

[2022-06-02 14:34] Vovanella95 commented on #415
Hi @RoarGronmo please check `swagger_dart_code_generator: ^2.5.8`. Should work fine

[2022-06-02 19:25] RoarGronmo commented on #415
Confirming that `2.5.8` works as expected !!

[2022-06-04 16:08] kawmy opened #423 "best way to send files"
hi there ive a dto like this in server :
[code]
  i wanted to know what is the best way to send files in a dto to server using your package?

[2022-06-07 08:10] Vovanella95 commented on #423
Hi @kawmy , our lib is needed for generation code from Swagger files. To send files using our lib - you need to configure swagger file appropriately.

For more info you can read [swagger spec](https://swagger.io/docs/specification/describing-request-body/file-upload/)

Any other questions?

[2022-06-07 08:17] Vovanella95 commented on #423
@kawmy  you can check example in this issue.

https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/385

[2022-06-07 14:28] malaschitz opened #424 "[FEATURE] Generate Integers as Int and not as Num"
**Is your feature request related to a problem? Please describe.**
All integers are generated as num. I have to call the cast every time I use it.

**Describe the solution you'd like**
Generate integers, int64 as int.

**Swagger specification link**
https://swagger.io/docs/specification/data-models/data-types/#numbers

[2022-06-07 21:45] vtjiles opened #425 "[BUG] Generating invalid dart. Missing some nested objects"
**Describe the bug**
I am having some issues creating a package for the [SureMDM API](http://suremdmapidoc.42gears.com/) and was hoping you could help. It appears some nested objects are not being created and I'm not sure whether I can fix it in the build.yaml or not.

Example errors (with links to the test repo):
- [hashCode is already defined](https://github.com/vtjiles/sure_mdm/blob/master/lib/

[2022-06-08 21:26] malaschitz commented on #424
Yes. Thanks !

[2022-06-08 21:26] #424 closed

[2022-06-09 07:01] Vovanella95 commented on #425
Hi @vtjiles , thanks for raising bug. I will fix it next week.

[2022-06-09 16:26] vtjiles commented on #425
Thanks, but it also seems I need a feature that's not currently supported so I understand if you prefer to close this.

I attempted to simplify the JSON and only load a few methods, but the request body was not added to the method signature. It seems that happened when using [`oneOf`](https://github.com/vtjiles/sure_mdm/blob/9da77f71947c8a4f2fe0b53f731da79f3aa0e942/swagger/sure_mdm.json#L3328-L343

[2022-06-12 16:05] DylanCross opened #426 "[QUESTION] Build Fail - FileSystem Exception (errno 5). No OS permission."
Build fails on "flutter pub run build_runner build" command. Appears the code is not getting permission to create files.

I'm using windows 10. I'm the admin / only user. I've disabled all anti-virus and firewall, I've run from powershell in VS, and powershell as Admin seperate, and tried command line. Flutter is installed in My Docs, and is the swagger-generator.

I've tried running with the "swa

[2022-06-13 07:06] Vovanella95 commented on #426
Hi @DylanCross, it's strange. Looks like your system does not permit to create files using `File(additionalResultPath).createSync();`.

Let's find out what is the problem.
1. What OS are you using?
2. What command are you using to generate code?
3. Try to generate code using another generator in this project. Let's check is it works
4. Try to move your project to another folder maybe
5. Try to run

[2022-06-13 07:16] #423 closed

[2022-06-13 15:04] DylanCross commented on #426
Exact steps to install and run:

1. Download swagger-dart-code-generator-master.zip (v2.6) to Documents
2. Extract in Documents folder
3. Copy swagger.json to Documents\swagger-dart-code-generator-master\lib
4. Open swagger-dart-code-generator-master folder in VS code
5. Update build.yaml file

targets:
  swagger_dart_code_generator:swagger_dart_code_generator:
    sources:
      - lib/**
      -

[2022-06-14 07:04] Vovanella95 commented on #426
Hi @DylanCross , I'm happy everything work :) Let us know in case of any issues

[2022-06-14 11:38] Vovanella95 commented on #425
Hi @vtjiles  I've partially fixed your swagger file. I need some more time to finish fixing.

[2022-06-14 16:43] vtjiles commented on #425
In working more with the API I have learned the swagger doc does not contain the full list of values for enums, incorrect types for responses, and casing for field names that does not match what is returned by their API. Even if the generator produces valid code I do not think it will be possible to handle all these issues caused by a bad swagger file.

I appreciate that you've taken the time to l

[2022-06-14 16:43] #425 closed

[2022-06-15 07:21] Vovanella95 commented on #425
@vtjiles ok fine)) I will revert changes I made. Thanks for investigation! Please let us know in case of any issues!

[2022-06-18 14:14] vadimlukutin opened #429 "[BUG] Genereted Future<chopper.Response<Object>> in case use JSON structure "responses/.../schema/properties""
**Describe the bug**
- In case use json structure "responses/200/content/application/json/schema/properties/...". Generated `Future<chopper.Response<Object>>`
- In case use json structure "responses/200/content/application/json/schema/$ref: "#/components/schemas/ProductModel"". Generated `Future<chopper.Response<ProductModel>>`

**To Reproduce**
On swagger JSON create response schema with property

[2022-06-20 07:09] Vovanella95 commented on #429
Hi @vadimlukutin , I will take a look into it this week

[2022-06-20 10:05] somnium-labs opened #430 "[BUG] Java's BigInteger type is created as an int type."
**Describe the bug**
Java's BigInteger type is created as an int type.

**To Reproduce**
[code]

**Expected behavior**
[code]

**Library version used:**
swagger_dart_code_generator: ^2.4.6

**Additional context**
Since the BigInteger type is a number that is close to infinity, when expressed as JSON, it is expressed as String.
https://docs.oracle.com/javase/8/docs/api/java/math/BigInteger.html

Is

[2022-06-20 10:39] somnium-labs commented on #430
It would be better to generate code with BigInt instead of String.

[2022-06-23 15:01] vadimlukutin opened #431 "[BUG] Error: Invalid argument (body)"
**Describe the bug**
Error: Invalid argument (body): "`{\"date_send\":null,\"stock_from_id\":2,\"stock_to_id\":8,\"user_from_id\":null,\"user_to_id\":null,\"comment\":null,\"consignments\":[{\"count\":1,\"product_model_id\":56}]}`"

**To Reproduce**
[code]

**Swagger specification link**
[Describing Request Body](https://swagger.io/docs/specification/2-0/describing-request-body/)

**Library versio

[2022-07-10 16:09] flowhorn opened #433 "[QUESTION] How to send a patch request without null parameters"
Hello,
I've got a patch request, which i want to run, and there are a few optional parameters.
When I try to run the request, it will fill out all the other parameters with a null value.
Is it possible to send this patch request just with the parameters where a value actually is? Because the backend doesn't allow me to send null values.

Thank you very much!

[2022-07-11 14:02] Vovanella95 commented on #433
Hi @flowhorn , are you want ignore Query, Header or path parameters?
* It's not possible to ignore path parameters, because you can't have 'null' in path.
* Query parameters with null value should be ignored automatically
* Header null properties are also excluded automatically

So what kind of parameter you want to ignore? Can you share more details?

[2022-07-11 14:18] Tyluuus opened #434 "[QUESTION] oneOf element in json structure"
Hi,

I have json with "oneOf" parameter in couple of models, inside it there is ref to enum which is in the same json and it has specified type of data. Generator just misses part when it should generate code for it and left parameter without type, like: " ? StructureName", where it should be " String? StructureName". Is there any option to way to make it work as i couldnt find anything on my own?